<br>
<div class="m-333" fxLayout="row" fxLayoutWrap="wrap" *ngIf="databoxItemData?.folder">
	<div fxLayout="column" fxFlex="100" fxFlex.gt-md="100">
		<h1 class="mat-h1">
			<mat-icon>widgets</mat-icon> {{databoxItemData?.databox_name}}
			<small>
				<mat-icon (click)="openDialog('Edit Databox', 'Databox Name', true, '')">
				edit</mat-icon> |
				<span class="main-route">
					<a routerLink="/databoxes/">Databoxes </a> /
					<a routerLink="/databoxes/{{databoxItemData?.folder}}">{{databoxItemData?.folder}} </a> /
					<a (click)="navigateToDatabox(databoxItemData?.folder, databoxItemData?._id, databoxItemData?.first_create)">
					{{databoxItemData?.databox_name}}</a> /
					<a routerLink="/databoxes/settings/{{databoxItemData?._id}}">Settings</a>
				</span> / Algorithm
			</small>
		</h1>
	</div>
</div>

<div class="m-333" fxLayout="row" fxLayoutWrap="wrap">
	<button mat-raised-button
		class="mb-05"
		color="primary"
		(click)="navigateToDatabox(data?.folder, data?._id, data?.first_create)">
		Back to Databox
	</button>&nbsp;
</div>
<hr>
<br>

<!-- Options -->
<div fxLayout="row" fxLayoutWrap="wrap">
	<div fxLayout="column" fxFlex="100" fxFlex.gt-md="100" fxLayoutAlign="center">

		<div class="text-center" >
			<mat-radio-group value="3">
				<mat-radio-button value="1"
					routerLink="/databoxes/settings/{{data?._id}}">
					Configuration
				</mat-radio-button>
				-------------
				<mat-radio-button value="2"
					routerLink="/databoxes/settings/query/{{data?._id}}">
					Query
				</mat-radio-button>
				-------------
				<mat-radio-button value="3"
					routerLink="/databoxes/settings/algorithm/{{data?._id}}">
					Algorithms
				</mat-radio-button>
			</mat-radio-group>
		</div>
	</div>
</div>

<div class="control-btns" fxLayout="row" fxLayoutWrap="wrap">
  <button mat-raised-button
    class="mb-05 btn-left"
    routerLink="/databoxes/settings/query/{{data?._id}}">
    Back
  </button>
</div>

<!-- Credits -->
<div fxLayout="row" fxLayoutWrap="wrap">
	<div fxLayout="column" fxFlex="100" fxFlex.gt-md="100"
		[@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">

		<div>
			<span fxFlex></span>
			<h3 class="mat-h3">Credits Remaining:
				<span class="credits">$100</span>   |   
				<button mat-raised-button class="mat-color-green">Buy More</button>
			</h3>
			<br>
		</div>

		<div class="mentions">
			<span fxFlex></span>
			<h3 class="mat-h4 text-muted">Current Mentions: 10,000 mentions
			</h3>
			<br>
		</div>
	</div>
</div>
<br>

<!-- Algorithm Option -->
<div fxLayout="row" fxLayoutWrap="wrap">
	<div fxLayout="column" fxFlex="100" fxFlex.gt-md="50" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">

		<!-- Sentiment -->
		<mat-card>
			<mat-card-header>
				<mat-card-title class="mat-color-primary">
					<mat-icon class="icon-header">add</mat-icon>
					<span class="title-header">Sentiment</span>
				</mat-card-title>
			</mat-card-header>

			<mat-divider></mat-divider>
			<br>
			<p class="card-content">
				Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
			</p>
			<mat-card-content>
				<br>
				<div class="databox-details">
					<mat-slide-toggle color="primary" class="mb-1" [checked]="checked">
						Apply Automatically
					</mat-slide-toggle>
					<span fxFlex></span>
					<button mat-raised-button class="truncate"
						(click)="openAlgorithmDialog('Apply Enrichment')">
						Apply only to unprocessed data
					</button>
				</div>
				<div class="databox-details-below">
					<p> (Unprocessed + New Data)</p>
				</div>
			</mat-card-content>

			<mat-divider></mat-divider>
			<br>
			<mat-card-actions>
				<span fxFlex></span>
				<h2 class="mat-h3">Cost / Mention: Free</h2>
			</mat-card-actions>
		</mat-card>
	</div>


	<!-- Topic Recognition -->
	<div fxLayout="column" fxFlex="100" fxFlex.gt-md="50" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
		<mat-card>
			<mat-card-header>
				<mat-card-title class="mat-color-primary">
					<mat-icon class="icon-header airplane">airplanemode_active</mat-icon>
					<span class="title-header">Topic Recognition</span>
				</mat-card-title>
			</mat-card-header>

			<mat-divider></mat-divider>
			<br>
			<p class="card-content">
				Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
			</p>
			<mat-card-content>
				<br>
				<div class="databox-details">
					<mat-slide-toggle color="primary" class="mb-1" [checked]="checked" >
						Apply Automatically
					</mat-slide-toggle>
					<span fxFlex></span>
					<button mat-raised-button class="truncate"
						(click)="openAlgorithmDialog('Apply Enrichment')">
						Apply only to unprocessed data
					</button>
				</div>
				<div class="databox-details-below">
					<p> (Unprocessed + New Data)</p>
				</div>
			</mat-card-content>

			<mat-divider></mat-divider>
			<br>
			<mat-card-actions>
				<span fxFlex></span>
				<h2 class="mat-h3">Cost / Mention: $0.03</h2>
			</mat-card-actions>
		</mat-card>
	</div>


	<!-- Gender Author -->
	<div fxLayout="column" fxFlex="100" fxFlex.gt-md="50" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
		<mat-card>
			<mat-card-header>
				<mat-card-title class="mat-color-primary">
					<mat-icon class="icon-header">people</mat-icon>
					<span class="title-header">Gender Author</span>
				</mat-card-title>
			</mat-card-header>

			<mat-divider></mat-divider>
			<br>
			<p class="card-content">
				Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
			</p>
			<mat-card-content>
				<br>
				<div class="databox-details">
					<mat-slide-toggle color="primary" class="mb-1" [checked]="checked">
						Apply Automatically
					</mat-slide-toggle>
					<span fxFlex></span>
					<button mat-raised-button class="truncate"
						(click)="openAlgorithmDialog('Apply Enrichment')">
						Apply only to unprocessed data
					</button>
				</div>
				<div class="databox-details-below">
					<p> (Unprocessed + New Data)</p>

				</div>
			</mat-card-content>

			<mat-divider></mat-divider>
			<br>
			<mat-card-actions>
				<span fxFlex></span>
				<h2 class="mat-h3">Cost / Mention: Free</h2>
			</mat-card-actions>
		</mat-card>
	</div>

	<!-- Entity Recognition -->
	<div fxLayout="column" fxFlex="100" fxFlex.gt-md="50" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
		<mat-card>
			<mat-card-header>
				<mat-card-title class="mat-color-primary">
					<mat-icon class="icon-header">location_city</mat-icon>
					<span class="title-header">Entity Recognition</span>
				</mat-card-title>
			</mat-card-header>

			<mat-divider></mat-divider>
			<br>
			<p class="card-content">
				Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
			</p>
			<mat-card-content>
				<br>
				<div class="databox-details">
					<mat-slide-toggle color="primary" class="mb-1" [checked]="checked">
						Apply Automatically
					</mat-slide-toggle>
					<span fxFlex></span>
					<button mat-raised-button class="truncate"
						(click)="openAlgorithmDialog('Apply Enrichment')">
						Apply only to unprocessed data
					</button>
				</div>
				<div class="databox-details-below">
					<p> (Unprocessed + New Data)</p>
				</div>
			</mat-card-content>

			<mat-divider></mat-divider>
			<br>
			<mat-card-actions>
				<span fxFlex></span>
				<h2 class="mat-h3">Cost / Mention: $0.03</h2>
			</mat-card-actions>
		</mat-card>
	</div>
</div>

<!-- FAQ's -->
<div fxLayout="row" fxLayoutWrap="wrap" class="faq"
	[@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">

	<div fxLayout="column" fxFlex="100" fxFlex.gt-md="100">
		<h1 class="mat-h1 faq-header">Frequently Asked Questions</h1>
	</div>

	<div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
		<div class="faq-inner">
			<h2 class="mat-h3 mat-color-primary">Apply Automatically</h2>
			<p>
				Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
			</p>
		</div>
	</div>

	<div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
		<div class="faq-inner">
			<h2 class="mat-h3 mat-color-primary">Apply to Unprocessed Data</h2>
			<p>
				Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
			</p>
		</div>
	</div>

	<div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
		<div class="faq-inner">
			<h2 class="mat-h3 mat-color-primary">Cost / Mention</h2>
			<p>
				Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
			</p>
		</div>
	</div>

	<div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
		<div class="faq-inner">
			<h2 class="mat-h3 mat-color-primary">How to buy credit</h2>
			<p>
				Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
			</p>
		</div>
	</div>

</div>

<br><br>
