.p16 {
    padding: 0 16px;
}

hr {
    border: 1px solid #f7f7f7;
}

.account-type {
    position: relative;
    margin: 10px 0;
}

.algorithm-credit span {
    margin-right: 75px;
}

.credits {
    color: green;
}

.menu-link {
    float: right;
    color: #19b4d7;
    font-weight: bold;
    &:hover {
        text-decoration: underline;
    }
    &.small{
        font-weight:initial;
        font-size: 12px;
        margin-left: 10px;
    }
}

.mat-menu-item {
    font-size: 14px !important;
}

@media screen and (max-width:660px) {
  .username{
      display: none !important;
  }
}