<mat-toolbar class="topbar">
  <!-- Sidenav toggle button -->
  <button 
  *ngIf="layoutConf.sidebarStyle !== 'compact'"
  mat-icon-button
  id="sidenavToggle" 
  (click)="toggleSidenav()"
  matTooltip="Toggle Hide/Open">
  <mat-icon>zoom_out_map</mat-icon>
  </button>

  <span fxFlex></span>
  <a routerLink="/help">Help</a>

  <!-- Language Switcher -->
  <!-- <mat-select 
  placeholder=""
  id="langToggle"
  [style.width]="'auto'"
  name="currentLang"
  [(ngModel)]="currentLang" 
  (selectionChange)="setLang($event)">
    <mat-option 
    *ngFor="let lang of availableLangs" 
    [value]="lang.code" ngDefaultControl>{{ lang.name }}</mat-option>
  </mat-select> -->

  <!-- Notification toggle button -->
  <button 
  mat-icon-button
  matTooltip="Notifications" 
  (click)="toggleNotific()"
  [style.overflow]="'visible'" 
  class="topbar-button-right">
    <mat-icon>notifications</mat-icon>
    <span class="notification-number mat-bg-warn">{{notificationCount}}</span>
  </button>
  <h4 class="username topbar-button-right">{{userName}}</h4>  
  <!-- Top left user menu -->
  <button mat-icon-button [matMenuTriggerFor]="accountMenu" class="topbar-button-right img-button">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #accountMenu="matMenu">
    <div class="account-type p16">
      <span> <strong> {{userPlanDetails.account_type}} </strong></span>
      <a routerLink="/products/account-type" class="menu-link" 
      *ngIf="userPlanDetails.account_type !== 'Enterprise'">Upgrade plan</a>
    </div>
    <div class="mentions-remaining p16">
      <div>
        <p class="m-0" *ngIf="userPlanDetails.accountType !== 'Enterprise'">{{loggedInUser.mentions}} Mentions Remaining</p>
      </div>
      <span fxFlex *ngIf="userPlanDetails.accountType !== 'Enterprise'"></span>
      <a routerLink="/products/mentions-credit" class="menu-link small" 
        *ngIf="userPlanDetails.accountType !== 'Enterprise'">Add mentions</a>
      <p class="mat-color-primary" *ngIf="userPlanDetails.account_type === 'Enterprise'">
      Unlimited Mentions</p>
    </div>

    <div class="p16">
      <app-mentions-progress-bar></app-mentions-progress-bar>
      <p class="mt-1" *ngIf="userPlanDetails.account_type !== 'Enterprise'">Your quota resets in 10 days</p>
      <p class="mt-1 mat-color-red"> Your free trail has expired, please upgrade your plan.</p>
    </div>

    <hr>

    <div class="account-type p16 mt-1">
      <strong> Algorithm Credit </strong>
    </div>

    <div class="mentions-remaining p16">
      <div>
        <p>${{userPlanDetails.algorithm_credits}} in credit remaining</p>
      </div>  
      <span fxFlex></span>
      <a routerLink="/products/algorithm-credit" class="menu-link small">Add credit </a>
    </div>

    <div class="p16"> 
      <mat-progress-bar
        [ngClass]="remaining >= 80 && remaining <= 99 
          ? 'yellow-progress': remaining >= 100 
          ? 'red-progress': 'blue-progress'"
        [mode]="'determinate'"
        [value]="remaining">
      </mat-progress-bar>
    </div>

    <hr>
    
    <button mat-menu-item [routerLink]="['/accounts/minerva-notifications']">
      <mat-icon>home</mat-icon>
      <span>Notifications</span>
    </button>
    <button mat-menu-item [routerLink]="['/accounts/settings']">
      <mat-icon>settings</mat-icon>
      <span>Account Settings</span>
    </button>
    <button mat-menu-item [routerLink]="['/accounts/users']">
      <mat-icon>group</mat-icon>
      <span>Users</span>
    </button>
    <button mat-menu-item [routerLink]="['/accounts/billings']">
      <mat-icon>monetization_on</mat-icon>
      <span>Billing</span>
    </button>
    <hr>
    <button mat-menu-item (click)="signOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Sign out</span>
    </button>
  </mat-menu>
</mat-toolbar>