<div>
    <h1 matDialogTitle>{{ data.title }}</h1>
    <div mat-dialog-content>
    	<p>After you click apply the databox will be created with a status set to Active. Mentions result will also be deducted automatically to your credits. Click Apply to proceed.</p>
    </div>

    <table>
    	<thead>
    		<tr>
    			<th>Mentions</th>
    			<th>Amount</th>
    		</tr>
    	</thead>
      	<tbody>
	        <tr>
	            <td>Databox Mentions</td>
	            <td>{{databoxMention}} Mentions</td>
	        </tr>

	        <tr>
	            <td>Current Mentions Remaining in Plan</td>
	            <td>{{loggedInUser.mentions}} Mentions</td>
	        </tr>

	        <tr [ngClass]="(loggedInUser.mentions - databoxMention) < 0 ? 'mat-bg-red': 'mat-bg-green'">
	            <td>Total Remaining After Creation</td>
	            <td>{{loggedInUser.mentions - databoxMention}} Mentions</td>
	        </tr>

      	</tbody>
    </table>

    <br>
	<div mat-dialog-actions>
		<span fxFlex></span>
		<button *ngIf="!data.update && (loggedInUser.mentions - databoxMention) > 0" 
			type="button" mat-raised-button color="primary"
			(click)="createNewDatabox()">Apply</button>
	
		<button *ngIf="data.update && (loggedInUser.mentions - databoxMention) > 0" type="button" 
			mat-raised-button color="primary"
			(click)="updateCreateDatabox()">Apply</button>

		<!-- If mentions credit are negative -->
		<button *ngIf="(loggedInUser.mentions - databoxMention) < 0" 
			type="button" mat-raised-button color="warn"
			(click)="createNewDatabox()">Continue with {{loggedInUser.mentions - databoxMention}} Mentions</button>

		<button *ngIf="(loggedInUser.mentions - databoxMention) < 0" 
			type="button" mat-raised-button color="primary"
			(click)="goToMentions()">Add More Credit</button>
	
		<button type="button" mat-raised-button (click)="dialogRef.close(false)">Cancel</button>
	</div>
</div>