<div>
    <h1 matDialogTitle>{{ data.title }}</h1>
    <div mat-dialog-content>
    	<p>Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.</p>
    </div>

    <table>
    	<thead>
    		<tr>
    			<th>Mentions</th>
    			<th>Amount</th>
    		</tr>
    	</thead>
      	<tbody>
	        <tr>
	            <td>Databox Mentions</td>
	            <td>{{databoxMention}} Mentions</td>
	        </tr>

	        <tr>
	            <td>Current Mentions Remaining in Plan</td>
	            <td>{{loggedInUser.mentions}} Mentions</td>
	        </tr>

	        <tr class="mat-bg-green">
	            <td>Total Remaining After Creation</td>
	            <td>{{loggedInUser.mentions - databoxMention}} Mentions</td>
	        </tr>

      	</tbody>
    </table>

    <br>
	<div mat-dialog-actions>
		<span fxFlex></span>
		<button *ngIf="!data.update && (loggedInUser.mentions - databoxMention) > 0" 
			type="button" mat-raised-button color="primary"
			(click)="createNewDatabox()">Apply</button>

		<button *ngIf="!data.update && (loggedInUser.mentions - databoxMention) < 0" 
			type="button" mat-raised-button color="primary"
			(click)="goToMentions()">Add More Credit</button>
	
		<button *ngIf="data.update" type="button" mat-raised-button color="primary"
			(click)="updateCreateDatabox()">Apply</button>
	
		<button type="button" mat-raised-button (click)="dialogRef.close(false)">Cancel</button>
	</div>
</div>