<div *ngIf="!data?.algo_switch">
    <h1 matDialogTitle>{{ data.title }}</h1>
    <div mat-dialog-content>
    	<p>Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.</p>
    </div>

    <table>
    	<thead>
    		<tr>
    			<th>Algorithm</th>
    			<th>Topic Recognition</th>
    		</tr>
    	</thead>
      	<tbody>
	        <tr>
	            <td>Cost</td>
	            <td>$0.03 / Mention</td>
	        </tr>

	        <tr>
	            <td>Current Mentions</td>
	            <td>10,000</td>
	        </tr>

	        <tr>
	            <td>Total Cost</td>
	            <td>$300</td>
	        </tr>

      	</tbody>
    </table>

    <br>
    <div mat-dialog-actions *ngIf="!data.checked">
        <span fxFlex></span>
        <button type="button" 
        mat-raised-button
        color="primary" (click)="updateConnector(true)">Apply Automatically</button>

        <button type="button" 
        mat-raised-button
        color="primary" (click)="updateConnector()">Apply To Unprocessed Data</button>
        
        <button 
        type="button"
        mat-raised-button 
        (click)="dialogRef.close(false)">Cancel</button>
    </div>

    <div mat-dialog-actions *ngIf="data.checked">
        <span fxFlex></span>
        <button type="button" 
        mat-raised-button
        color="primary" (click)="updateConnector()">Apply</button>
        
        <button 
        type="button"
        mat-raised-button 
        (click)="dialogRef.close(false)">Cancel</button>
    </div>
</div>

<div *ngIf="data?.algo_switch">
    <h1 matDialogTitle>Algorithm Connector</h1>
    <div mat-dialog-content>
        <p *ngIf="data?.checked">Are you sure you want to turn the algoritm ON?</p>
        <p *ngIf="!data?.checked">Are you sure you want to turn the algoritm OFF?</p>
    </div>

    <br>

    <div mat-dialog-actions *ngIf="data?.checked">
        <span fxFlex></span>
        <button type="button" 
        mat-raised-button
        color="primary" 
        (click)="switchAlgorithmOn()">Yes</button>
        
        <button 
        type="button"
        mat-raised-button 
        (click)="switchAlgorithmOff()">No</button>
    </div>

    <div mat-dialog-actions *ngIf="!data?.checked">
        <span fxFlex></span>
        <button type="button" 
        mat-raised-button
        color="primary" 
        (click)="switchAlgorithmOff()">Yes</button>
        
        <button 
        type="button"
        mat-raised-button 
        (click)="switchAlgorithmOn()">No</button>
    </div>
</div>