<br>
<div class="m-333" fxLayout="row" fxLayoutWrap="wrap" *ngIf="databoxItemData?.folder">
	<div fxLayout="column" fxFlex="100" fxFlex.gt-md="100">
		<h1 class="mat-h1">
			<mat-icon>widgets</mat-icon> {{databoxItemData?.databox_name}}
			<small>
				<mat-icon (click)="openDialog('Edit Databox', 'Databox Name', true, '')">
				edit</mat-icon> | <span class="main-route">
					<a routerLink="/databoxes/">Databoxes </a> /
					<a routerLink="/databoxes/{{data?.folder}}">{{databoxItemData?.folder}} </a> /
					<a (click)="navigateToDatabox(databoxItemData?.folder, databoxItemData?._id, databoxItemData?.first_create)">
					{{databoxItemData?.databox_name}}</a> /
					<a routerLink="/databoxes/settings/{{databoxItemData?._id}}">Settings</a>
				</span> / Query
			</small>
		</h1>
	</div>
</div>
<div class="m-333" fxLayout="row" fxLayoutWrap="wrap" #databoxesButtonID>
	<button mat-raised-button
	class="mb-05"
	color="primary"
	(click)="navigateToDatabox(data?.folder, data?._id, data?.first_create)">
	Back to Databox
	</button>&nbsp;
</div>
<hr>

<br>

<!-- Options -->
<div fxLayout="row" fxLayoutWrap="wrap">
	<div fxLayout="column" fxFlex="100" fxFlex.gt-md="100" fxLayoutAlign="center">

		<div class="text-center" >
			<mat-radio-group value="2">
				<mat-radio-button value="1"
					routerLink="/databoxes/settings/{{data?._id}}">
					Configuration
				</mat-radio-button>
				-------------
				<mat-radio-button value="2"
					routerLink="/databoxes/settings/query/{{data?._id}}">
					Query
				</mat-radio-button>
				-------------
				<mat-radio-button value="3"
					routerLink="/databoxes/settings/algorithm/{{data?._id}}">
					Algorithms
				</mat-radio-button>
			</mat-radio-group>
		</div>
	</div>
</div>

<div class="control-btns" fxLayout="row" fxLayoutWrap="wrap">
  <button mat-raised-button
    class="mb-05 btn-left"
    routerLink="/databoxes/settings/{{data?._id}}">
    Back
  </button>
  <button mat-raised-button
    class="mb-05 btn-right"
    routerLink="/databoxes/settings/algorithm/{{data?._id}}">
    Next
  </button>
</div>

<!-- Query Editor -->
<div fxLayout="row" fxLayoutWrap="wrap">
	<div fxLayout="column" fxFlex="100" fxFlex.gt-md="100" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}" fxLayoutAlign="center">

		<mat-card>
			<mat-card-header>
				<mat-card-title class="mat-color-primary">
          <span class="title-header" *ngIf="!isTwitterDatasourceSelected">Query Editor</span>
          <span class="title-header" *ngIf="isTwitterDatasourceSelected">Keywords</span>
				</mat-card-title>
				<mat-card-subtitle>
					<p *ngIf="!isTwitterDatasourceSelected">Lorem ipsum dolor sit amet, et vel error viris democritum, ei duo sumo tota albucius. Sumo atqui ut eam, mel recteque omittantur definitionem et,
            meliore intellegebat an cum. Vim falli insolens persequeris no. Eu pri aeque semper, dicunt malorum reprehendunt ex mea, viderer inimicus vim ne.
            Cu causae impetus eam, et atqui tibique consectetuer nam, in erroribus incorrupte vim. Ea voluptua eloquentiam has.</p>
          <p *ngIf="isTwitterDatasourceSelected">Twitter keywords Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste placeat similique, expedita tempore at repellat repellendus rerum vel recusandae,
            animi reiciendis aut nobis rem, natus ipsa qui adipisci ea atque!</p>
				</mat-card-subtitle>
			</mat-card-header>

			<mat-divider></mat-divider>
			<br>
			<mat-card-content>
				<div fxLayout="row" fxLayoutWrap="wrap" class="query-inner">
					<div fxLayout="column" fxFlex="100" fxFlex.gt-md="70" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}" fxLayoutAlign="center">
						<mat-card class="p-0">
						  	<mat-card-content class="p-0">
						    	<form>
						    		<mat-form-field class="full-width">
                      <textarea matInput placeholder="Query" rows="10" cols="80" value="{{editorData}}" *ngIf="!isTwitterDatasourceSelected"></textarea>
                      <textarea matInput placeholder="Enter or paste your keywords, one word or phrase per line." rows="10" cols="80" *ngIf="isTwitterDatasourceSelected"></textarea>
						    		</mat-form-field>
						    	</form>
						    	<button mat-raised-button color="primary" *ngIf="!isTwitterDatasourceSelected">
						    		Test Query
						    	</button>
						  	</mat-card-content>
						  	<mat-divider *ngIf="!isTwitterDatasourceSelected"></mat-divider>
						  	<br>
						  	<mat-card-actions>
						  		<div class="mat-h3 text-muted query-help">
						  			<mat-icon class="query-icon">remove_red_eye</mat-icon>
						  			<a>Show Simple Example</a>
						  			<mat-icon class="query-icon">remove_red_eye</mat-icon>
						  			<a>Show Complex Example</a>
						  			<mat-icon class="query-icon">help_outline</mat-icon>
						  			<a>Need More Help?</a>
						  		</div>
						  	</mat-card-actions>
						</mat-card>
					</div>

					<div fxLayout="column" fxFlex="100" fxFlex.gt-md="30" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}" fxLayoutAlign="center">
						<mat-card class="query-right-side">
						  	<mat-card-content>
						    	<h3 class="mat-h3">Boolean Operations: Booleans help you create your query.</h3>
						    	<p class="mat-color-primary query-info"
                    matTooltip="OR operators are used to expand your query. For example: car OR bus OR train">
                    OR = OR's help you expand your query
						    	</p>
						    	<p class="mat-color-primary query-info"
                    matTooltip="AND operators are used to expand your query. For example: car AND bus AND train">
                    AND = AND's help you be more exact
						    	</p>
						    	<p class="mat-color-primary query-info"
                    matTooltip="NOT operators are used to expand your query. For example: car NOT bus NOT train">
                    NOT = NOT's help you exclude information
                  </p><hr>
                  <h3 class="mat-h3">Match types: Match types help you control which results trigger your query</h3>
						    	<p class="mat-color-primary query-info"
						    		matTooltip="AND operators are used to expand your query. For example: car AND bus AND train">keyword = Broad match</p>
						    	<p class="mat-color-primary query-info"
						    		matTooltip="AND operators are used to expand your query. For example: car AND bus AND train">[keyword] = Regexp match</p>
						    	<p class="mat-color-primary query-info"
						    		matTooltip="AND operators are used to expand your query. For example: car AND bus AND train">"[keyword" = Exact match</p>
						  	</mat-card-content>
						</mat-card>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
</div>

<!-- Query Table -->
<div fxLayout="row" fxLayoutWrap="wrap">
	<div fxLayout="column" fxFlex="100" fxFlex.gt-md="100" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}" fxLayoutAlign="center">

		<mat-card>
			<mat-card-header>
				<mat-card-title class="mat-color-primary">
					<span class="title-header">Category Creator</span>
				</mat-card-title>
				<mat-card-subtitle>
					<p>Lorem ipsum dolor sit amet, et vel error viris democritum, ei duo sumo tota albucius. Sumo atqui ut eam, mel recteque omittantur definitionem et, meliore intellegebat an cum. Vim falli insolens persequeris no. Eu pri aeque semper, dicunt malorum reprehendunt ex mea, viderer inimicus vim ne. Cu causae impetus eam, et atqui tibique consectetuer nam, in erroribus incorrupte vim. Ea voluptua eloquentiam has.

					At atqui adolescens argumentum pro, ne duo timeam volumus. Has ut quis elit adhuc. Eum at idque invidunt, nobis dolores eu mel. Duo id liber legere, diceret aliquam qui id.</p>
				</mat-card-subtitle>
			</mat-card-header>

			<mat-divider></mat-divider>
			<br>
			<mat-card-content>
				<table mat-table [dataSource]="dataSource">

				  <!--- Note that these columns can be defined in any order.
				        The actual rendered columns are set as a property on the row definition" -->

				  <!-- Position Column -->
				  <ng-container matColumnDef="name">
				    <th mat-header-cell *matHeaderCellDef> Name. </th>
				    <td mat-cell *matCellDef="let category"> {{category.name}} </td>
				  </ng-container>

				  <!-- Name Column -->
				  <ng-container matColumnDef="type">
				    <th mat-header-cell *matHeaderCellDef> Type </th>
				    <td mat-cell *matCellDef="let category"> {{category.type}} </td>
				  </ng-container>

				  <!-- Weight Column -->
				  <ng-container matColumnDef="expression">
				    <th mat-header-cell *matHeaderCellDef> Expression </th>
				    <td mat-cell *matCellDef="let category"> {{category.expression}} </td>
				  </ng-container>

				  <!-- Symbol Column -->
				  <ng-container matColumnDef="action">
				    <th mat-header-cell *matHeaderCellDef> Action </th>
				    <td mat-cell *matCellDef="let row">
			            <mat-icon class="text-muted">edit</mat-icon> 
			            <mat-icon class="text-muted">delete</mat-icon>
			        </td>
				  </ng-container>

				  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
			</mat-card-content>
			<br>
			<mat-card-actions class="p-0">
		  		<button (click)="openQueryDialog('Create Category')"
			  		mat-raised-button
			  		color="primary"
			  		class="query-category">
		  			Add Category
		  		</button>
		  		<span fxFlex></span>
		  		<p class="text-muted">Category Remaining: 5<br>
		  		Sub Category Remaining: 5
		  		</p>
		  	</mat-card-actions>
		</mat-card>
	</div>
</div>

<br><br>
