<br>
<div class="header-row m-333" fxLayout="row" fxLayoutWrap="wrap">
   <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100">
      <img src="assets/images/icon-products.png">
      <h1 class="mat-h1">
         Products
         <small>   
            <span class="main-route">
              <a routerLink="/products">Products</a>
            </span> 
            <span>/ Algorithm Credit</span>
          </small>
       </h1>
   </div>
</div>

<mat-sidenav-container>
  <div>
    <!-- Filters -->
    <!-- Right side -->
    <div>
      <!-- Search Form -->
      <div fxLayout.lt-sm="column" fxLayout="row"  class="shop-top-toolbar">
         <button mat-icon-button class="mr-1" (click)="toggleSideNav()"><mat-icon>short_text</mat-icon> </button>
         <div class="product-search-wrap">
            <form [formGroup]="filterForm">
               <input type="text" name="searchProduct" 
               placeholder="Search product" 
               class="product-search default-bg" 
               [formControl]="filterForm.controls['search']" 
               (keyup)="searchAlgorithm($event.target.value)">
            </form>
         </div>

        <span fxFlex></span><span fxFlex="20px"></span>
        <button mat-raised-button color="primary" routerLink="/products/cart">
         <mat-icon>shopping_cart</mat-icon>
         Cart  ({{cartData.itemCount}})
        </button>
      </div>
     
    </div>
  </div>
</mat-sidenav-container>
<hr>
<div class="m-333" fxLayout="row" fxLayoutWrap="wrap">
   <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
   <mat-card>
      <mat-card-header>
         <mat-card-title class="mat-color-primary">
            <div class="mt-05">Algorithm Credit</div>
         </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <br>

      <mat-card-content>
         <mat-card-subtitle>
            <h3 class="mat-h3">Adding algorithm credits:</h3>
            <p>Lorem ipsum dolor sit amet, et vel error viris democritum, ei duo sumo tota albucius. Sumo atqui ut eam, mel recteque omittantur definitionem et, meliore intellegebat an cum. Vim falli insolens persequeris no. Eu pri aeque semper, dicunt malorum reprehendunt ex mea, viderer inimicus vim ne. Cu causae impetus eam, et atqui tibique consectetuer nam, in erroribus incorrupte vim. Ea voluptua eloquentiam has.</p>

            <br>
            <mat-form-field>
                 <mat-select [formControl]="filterForm.controls['algoCredit']">
                    <mat-option value="50" style="font-size: 14px !important;">$50</mat-option>
                    <mat-option value="100" style="font-size: 14px !important;">$100</mat-option>
                    <mat-option value="150" style="font-size: 14px !important;">$150</mat-option>
                    <mat-option value="250" style="font-size: 14px !important;">$250</mat-option>
                 </mat-select>
            </mat-form-field>
            <button mat-raised-button class="mat-primary btn-add-to-cart ml-1" (click)="addCreditToCart()">
              <mat-icon>shopping_cart</mat-icon>
                 Add to cart
            </button>
         </mat-card-subtitle>
      </mat-card-content>
   </mat-card>
  </div>
</div>

<div class="m-333" fxLayout="row" fxLayoutWrap="wrap">
   <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
    <mat-card>
      <mat-card-header>
         <mat-card-title class="mat-color-primary">
            <div class="mt-05">Available Algorithms</div>
         </mat-card-title>
      </mat-card-header>
      <div class="m-333" fxLayout="row" fxLayoutWrap="wrap">
         <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
         <mat-sidenav-container fxLayout="row" fxLayoutWrap="wrap" fxAlignLayout="center">
            <div class="shop-wrap" fxLayout="row" fxLayoutWrap="wrap">
              <!-- Filters -->
              <!-- Right side -->
              <div class="full-width">
                
                <!-- Products container -->
                <div class="product-container" [ngClass]="{'list-view': viewMode === 'list-view'}">
                  <!-- Product Box -->
                  <div class="product-wrap" *ngFor="let product of algorithms | MenuFilter: searchInput | paginate: { itemsPerPage: 6, currentPage: currentPage }; let i = index;"
                   [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
                    <div class="product-inner algorithms mb-05">
                      <div class="featured-img algorithms" (click)="addToCart(product)">
                        <img [src]="product.photo" alt="">
                      </div>
                      <div class="info-wrap p-1">
                        <div class="main-info">
                          <h3 class="mat-h3" (click)="addToCart(product)">{{product.name}}</h3>
                        </div>
                        <div class="actions">
                          <div class="price-rating">
                            <div class="price">
                              <span class="mention">${{product?.price?.sale.toFixed(5)}}/mention</span>
                              <!--<del class="text-muted">{{product?.price?.sale.toFixed(5)}}</del>-->
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Visible when viewMode === list-view -->
                      <div class="more-info-wrap p-1" *ngIf="viewMode === 'list-view'">
                        <div class="more-info">
                          <div>
                            <ul>
                              <li>
                                {{product?.description}}
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Product -->
                  <div class="products-pagination">
                    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
                  </div>
                </div>
                <!-- End Products container -->
              </div>
            </div>
          </mat-sidenav-container>
        </div>
      </div>
      <mat-divider></mat-divider>
      <br>
    </mat-card>
  </div>
</div>