<div class="text-center mat-bg-primary pt-1 pb-1">
  <h4 class="m-0 mat-h4">Notifications</h4>
</div>
<mat-nav-list class="notification-list" role="list">
  <!-- Notification item -->
  <mat-list-item
  *ngFor="let n of notifications" 
  class="notific-item" 
  role="listitem" 
  routerLinkActive="open">
      <mat-icon [color]="n.color" class="notific-icon">{{n.icon}}</mat-icon>
      <a [routerLink]="[n.route]">
        <div class="mat-list-text">
          <h4 class="mat-h4 message">{{n.message}}</h4>
          <small class="time text-muted">{{n.time}}</small>
        </div>
      </a>
  </mat-list-item>
</mat-nav-list>
