button {
  margin-right: 10px !important;
}

mat-card-content {
  padding-left: -30px !important;
}

mat-card-actions {
  padding: 0 5% !important;
}

.databox-details {
  padding: 2% 8px;
}

.minerva-logo {
  width: 250px;

  margin-top: 2%;
}

h5 {
  padding-top: 2%;
}

.bottom-data {
  margin-left: 1%;
  margin-right: 1%;

  form {
    margin-top: 2%;
  }

  button {
    
  }

  .download-csv {
    margin-left: 1% !important;
  }
}

.mat-cell {
  padding: 1% 1%;
}

.align-right {
  text-align: right;
  display: block;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 1px;
}

.mat-h1 {
  width: 100% !important;
}

.page-search {
  > div {
    margin: 10px 0px;
    padding: 0px 10px;
    p {
      margin: 0px;
    }
  }
}

.table-foot {
  background: white;

  button {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  p {
    margin-top: 15px;
    margin-left: 20px;
  }

  .paginate {
    border: none !important;
    color: rgba(0, 0, 0, .54);
    cursor: pointer;
    cursor: hand;
    margin-right: 0px;
    margin-left: 0px;
    background: rgba(0, 0, 0, 0);
    padding: 0 13px !important;

    &:hover {
      border-radius: 70%;
      background: rgba(242, 242, 242, 0.5);
      color: rgba(0, 0, 0, .54);
    }

    .disabled {
      color: whitesmoke !important;
    }
  }
}

.see-databox-search {
  &:hover {
    text-decoration: underline !important;
  }
}

.query-category {
  margin-top: -20px !important;
  padding-top: -10px !important;
  padding-bottom: -10px !important;
  height: 40px !important;
}

.query-category-text {
  margin-top: -20px !important;
}

.algorithm-header {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 18px;
}

.category-header {
  font-size: 18px;
}

.icon-header {
  font-size: 35px;
}

.airplane {
  transform: rotate(45deg);
  transition: transform 2s;
}

.credit-remain {
  margin-right: 2%;
  margin-top: 10px;
}

.credits {
  color: green;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.faq {
  margin-top: 4%;

  .faq-header {
    padding-left: 2%;
  }

  .faq-inner {
    padding: 0 5%;
  }
}

.fixed-height {
  height: 170px !important;
  max-height: 170px;
}

mat-icon.download{
  margin-top: -15px;
  margin-right: 15px;
  height: 15px;
  width: 15px;
  font-size: 18px;
  position:absolute;
  top: 15px;
  left:-15px;
}

.not-find-link {
  &:hover {
    text-decoration: underline !important;
    cursor: pointer !important;
  }
}

.full-width {
  display: flex;
  flex-direction: row-reverse;
}

.head-mentions{
  &:hover{
    cursor: pointer !important;
    text-decoration: underline !important;
  }
}

td{
  .mat-icon{
    cursor: pointer !important;
    margin-right: 15px !important;
  }
}

// .relative{
//   position: relative;
//   .allign-middle{
//     margin: 0;
//     position: inherit;
//     top: 50%;
//     -ms-transform: translateY(-50%);
//     transform: translateY(-50%);
//   }
// }
.relative{
  min-width: 200px;
}
.info-wrap{
  background-color: rgba(0, 0, 0, 0.03);
}