<br />
<div class="header-row m-333" fxLayout="row" fxLayoutWrap="wrap">
  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100" id="head">
    <img src="assets/images/icon-databox.png" />
    <h1 class="mat-h1">
      {{ data?.databox_name }}
      <small>
        <mat-icon (click)="modifyDataboxDialog('Edit Databox Name', 'Databox Name', true)"> edit</mat-icon>
        <span class="main-route">
          <a routerLink="/databoxes/">Databoxes </a> /
          {{ data?.databox_name }}</span
        >
      </small>
    </h1>
  </div>
</div>

<!-- Upper Menu -->
<div
  class="m-333"
  fxLayout="row"
  fxLayoutWrap="wrap"
  style="border-bottom: 1px solid gray;"
>
  <button
    mat-raised-button
    class="mb-05"
    color="primary"
    routerLink="/databoxes/edit-query/{{ data?._id }}"
  >
    Query
  </button>
  <button
    mat-raised-button
    class="mb-05 mat-bg-success"
    routerLink="/databoxes/settings/connect/{{ data?._id }}"
  >
    Connect Your Data
  </button>

  <span fxFlex></span>
  <div class="mr-1 mt-05">
    <app-slide-toggle [id]="id"></app-slide-toggle>
  </div>
</div>

<!-- Tabs -->
<mat-tab-group dynamicHeight>
    <!-- Results -->
    <mat-tab label="Results">
      <!-- Line Chart -->
      <div [hidden]="data?.first_create">
        <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="100">
          <mat-card class="p-0 fixed-height">
            <mat-card-content>
              <!-- Line Chart 
              <canvas 
                baseChart 
                class="chart"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="chartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"></canvas>-->
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      
      <!-- First Table -->
      <div [hidden]="data?.first_create">
          <mat-card class="p-0" fxLayout="row" fxLayoutWrap="wrap" style="height: 100% !important; overflow: hidden !important;">
            
            <mat-card-content class="table-mat-card-content" fxLayout="row" fxLayoutWrap="wrap"  
              style="overflow: hidden !important; width: 100% !important; height: 100% !important;">
              <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100" class="page-search mat-bg-gray">
                <div>
                  <p>
                      <b>Mentions:</b> {{data?.mentions}}&nbsp;&nbsp;|&nbsp;&nbsp;<b>Mentions per day:</b> {{data?.mentions_per_day}}
                  </p>
                </div>
                <span fxFlex></span>
                <div style="position: absolute; right: 24px;">
                  <a class="mr-1"><mat-icon class="download">file_download</mat-icon><b>Download</b></a>
                  <a><b>Not Finding a Result?</b></a>
                </div>
              </div>
  
              <div [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}" fxLayout="row" fxLayoutWrap="wrap"  style="overflow-x: scroll !important; width: 102% !important; height: 100% !important;" (scroll)="createTable()">
                
                <div fxLayout="row" fxLayoutWrap="wrap">
                  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100">
                    <div class="hot-container full-width">
                      <hot-table id="scroll-area" [hotId]="hotId" [settings]="tableSettings"></hot-table>
                    </div>
  
                    <div class="table-foot" >
                      <!-- <div>
                        <button mat-raised-button (click)="addNewRow()">Add Row</button>
                        <button mat-raised-button (click)="saveAllData()">Save All Changes</button>
                      </div> -->
                      <span fxFlex></span>
  
                      <button class="paginate" matTooltip="Prev Page" 
                      (click)="navigateToPrevPage(data?._id)" 
                      [hidden]="!paginatedData.pre_page">
                      <i class="fa fa-chevron-left"></i>
                      </button> 
  
                      <button class="paginate" matTooltip="Next Page" (click)="navigateToNextPage(data?._id)">
                        <i class="fa fa-chevron-right"></i> 
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
      </div>
  
      <!-- Second Table -->
      <div fxLayout="row" fxLayoutWrap="wrap" [hidden]="data?.first_create">
        <div [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
          <div style="width: 101% !important;">
            <mat-card class="p-0 table-mat-card" style="width: 101% !important;">
              <mat-card-content class="table-mat-card-content">
                <table mat-table [dataSource]="databoxSecondTable">
  
                  <!-- Position Column -->
                  <ng-container matColumnDef="name">
                    <th class="mat-header-cell-databox" mat-header-cell *matHeaderCellDef style="padding-left: 15px !important;"> Date </th>
                    <td mat-cell *matCellDef="let databoxes"> {{databoxes.date}} </td>
                  </ng-container>
  
                  <!-- Name Column -->
                  <ng-container matColumnDef="type">
                    <th class="mat-header-cell-databox" mat-header-cell *matHeaderCellDef style="width: 600px !important; "> Content </th>
                    <td mat-cell *matCellDef="let databoxes"> {{databoxes.content}} </td>
                  </ng-container>
  
                  <!-- Weight Column -->
                  <ng-container matColumnDef="expression">
                    <th class="mat-header-cell-databox" mat-header-cell *matHeaderCellDef> Parent </th>
                    <td mat-cell *matCellDef="let databoxes"> {{databoxes.parent}} </td>
                  </ng-container>
  
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="action">
                    <th class="mat-header-cell-databox" mat-header-cell *matHeaderCellDef> Author </th>
                    <td mat-cell *matCellDef="let databoxes"> {{databoxes.author}} </td>
                  </ng-container>
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
  
                <mat-paginator [pageSizeOptions]="[20, 30, 50, 100]"></mat-paginator>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
  
  
      <div fxLayout="row" fxLayoutWrap="wrap" [hidden]="data?.first_create">
        <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
  
          <div class="bottom-data">
            <br>
            <!-- <button mat-raised-button class="download-csv" (click)="downloadCSV()" #exportFile>Download to CSV</button>
            <br>
            <h3 class="mat-h3 not-find-link" (click)="openAddSuggestionPreField()">Not finding results from a specific {{data?.datasource}} Page? Suggest to add it here</h2>
            <p>Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.</p>
  
            <form (submit)="openAddSuggestionPreField()" [formGroup]="suggestResultForm">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{data?.page_search_name}} Name"formControlName="page-name">
              </mat-form-field>
               
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{data?.page_search_name}} ID" formControlName="page-id">
              </mat-form-field>
              &nbsp;
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{data?.page_search_name}} Country" formControlName="page-country">
              </mat-form-field>     
              <br>
              <button style="margin-left: 0 !important;" type="submit" mat-raised-button>Send</button>        
            </form>
            
            <br><br> -->
            <h3 class="mat-h3">Delete Databox</h3>
            <p>Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.</p>
            <button mat-raised-button (click)="modifyDataboxDialog('Delete Databox', 'Input the databox name for confirmation', true)">Delete Databox</button>
          </div>
        </div>
      </div>
      <br><br>
    </mat-tab>
  
    <!-- Categorize Your Data -->
    <mat-tab label="Categorize Your Data">
      <div fxLayout="row" fxLayoutWrap="wrap">
        <!-- Column 1 -->
        <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}" fxLayoutAlign="center">
          <mat-card>
            <mat-card-header>
              <mat-card-title class="mat-color-primary">
                <span>Category Creator</span>
              </mat-card-title>
              <mat-card-subtitle>
                <p>Lorem ipsum dolor sit amet, et vel error viris democritum, ei duo sumo tota albucius. Sumo atqui ut eam, mel recteque omittantur definitionem et, meliore intellegebat an cum. Vim falli insolens persequeris no. Eu pri aeque semper, dicunt malorum reprehendunt ex mea, viderer inimicus vim ne. Cu causae impetus eam, et atqui tibique consectetuer nam, in erroribus incorrupte vim. Ea voluptua eloquentiam has.</p>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <br>
            <mat-card-content>
              <table mat-table [dataSource]="dataSource">
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
  
                <!-- Position Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let category"> {{category.name}} </td>
                </ng-container>
  
                <!-- Name Column -->
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef> Type </th>
                  <td mat-cell *matCellDef="let category"> {{category.type}} </td>
                </ng-container>
  
                <!-- Weight Column -->
                <ng-container matColumnDef="expression">
                  <th mat-header-cell *matHeaderCellDef> Expression </th>
                  <td mat-cell *matCellDef="let category"> {{category.expression}} </td>
                </ng-container>
  
                <!-- Symbol Column -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let row">
                        <mat-icon class="text-muted">edit</mat-icon> 
                        <mat-icon class="text-muted">delete</mat-icon>
                    </td>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </mat-card-content>
            <br>
            <mat-card-actions class="p-0">
                <button (click)="openQueryDialog('Create Category')"
                  mat-raised-button
                  color="primary"
                  class="query-category">
                  Add Category
                </button>
                <span fxFlex></span>
                <p class="text-muted">Category Remaining: {{ categoryRemaining }}<br>
                SubCategory Remaining: {{ subcategoryRemaining }}
                </p>
              </mat-card-actions>
          </mat-card>
          <div class="m-333" fxLayout="row" fxLayoutWrap="wrap" >
            <span fxFlex></span>
            <button mat-raised-button class="mb-05 mat-bg-success">
            Categorize Your Data
            </button>
          </div>
        </div>
        <!-- Column2 -->
        <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
          <!-- Doughnut Chart -->
          <div fxLayout="row" fxLayoutWrap="wrap" >
            <!-- Doughnut Chart para Categorias -->
            <div fxFlex="100" fxFlex.gt-sm="50">
              <mat-card class="p-0 fixed-height">
                <mat-card-content>
                  <!-- Doughnut Chart para Categorias 
                  <canvas 
                    baseChart 
                    class="chart"
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [options]="doughnutOptions"
                    [colors]="doughnutChartColors"
                    [chartType]="doughnutChartType"></canvas>-->
                </mat-card-content>
              </mat-card>
            </div>
            <!-- Doughnut Chart para SubCategorias -->
            <div fxFlex="100" fxFlex.gt-sm="50">
              <mat-card class="p-0 fixed-height">
                <mat-card-content>
                  <!-- Doughnut Chart para SubCategorias 
                  <canvas 
                    baseChart 
                    class="chart"
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [options]="doughnutOptions"
                    [colors]="doughnutChartColors"
                    [chartType]="doughnutChartType"></canvas> -->
                </mat-card-content>
              </mat-card>
            </div>            
          </div>
          <!-- Result Preview -->
          <div style="position: -webkit-sticky; position: sticky;top: 0;" fxLayout="row" fxLayoutWrap="wrap" >
            <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
              <mat-card>
                <mat-card-title>
                  <h3 class="mat-h3 mat-color-primary">Results</h3>
                </mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-content>
                </mat-card-content>
              </mat-card>
            </div>      
          </div>    
        </div>
      </div>
    </mat-tab>
  
    <!-- Process Your Results -->
    <mat-tab label="Process Your Data">
      <!-- Credits -->
      <br>
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100"
          [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
  
          <div>
            <span fxFlex></span>
            <h3 class="mat-h4">Credits Remaining:
              <span class="credits">$100</span>   |   
              <button mat-raised-button class="mat-color-green" [routerLink]="['/products/mentions-credit']">Buy More</button>
            </h3>
            <br>
          </div>
  
        </div>
      </div>
      <br>
  
      <!-- Algorithm Option -->
      <div fxLayout="row" fxLayoutWrap="wrap">
        <!-- Sentiment -->
        <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
          <mat-card class="p-1">
            <mat-card-header>
              <mat-card-title class="mat-color-primary">
                <mat-icon class="icon-header">add</mat-icon>
                <span class="algorithm-header">Sentiment</span>
              </mat-card-title>
            </mat-card-header>
  
            <mat-divider></mat-divider>
            <br>
            <p class="card-content">
              Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
            </p>
            <mat-card-content>
              <br>
              <div class="databox-details">
                <mat-slide-toggle color="primary" class="mb-1" [checked]="checked">
                  Apply Automatically
                </mat-slide-toggle>
                <span fxFlex></span>
                <button mat-raised-button class="truncate"
                  (click)="openAlgorithmDialog('Apply Enrichment')">
                  Apply only to unprocessed data
                </button>
              </div>
              <div class="databox-details-below">
                <p> (Unprocessed + New Data)</p>
              </div>
            </mat-card-content>
  
            <mat-divider></mat-divider>
            <br>
            <mat-card-actions>
              <span fxFlex></span>
              <h3 class="mat-h4">Cost / Mention: $0.03</h3>
            </mat-card-actions>
          </mat-card>
        </div>
        
        <!-- Topic Recognition -->
        <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
          <mat-card class="p-1">
            <mat-card-header>
              <mat-card-title class="mat-color-primary">
                <mat-icon class="icon-header airplane">airplanemode_active</mat-icon>
                <span class="algorithm-header">Topic Recognition</span>
              </mat-card-title>
            </mat-card-header>
  
            <mat-divider></mat-divider>
            <br>
            <p class="card-content">
              Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
            </p>
            <mat-card-content>
              <br>
              <div class="databox-details">
                <mat-slide-toggle color="primary" class="mb-1" [checked]="checked" >
                  Apply Automatically
                </mat-slide-toggle>
                <span fxFlex></span>
                <button mat-raised-button class="truncate"
                  (click)="openAlgorithmDialog('Apply Enrichment')">
                  Apply only to unprocessed data
                </button>
              </div>
              <div class="databox-details-below">
                <p> (Unprocessed + New Data)</p>
              </div>
            </mat-card-content>
  
            <mat-divider></mat-divider>
            <br>
            <mat-card-actions>
              <span fxFlex></span>
              <h3 class="mat-h4">Cost / Mention: $0.03</h3>
            </mat-card-actions>
          </mat-card>
        </div>
  
  
        <!-- Gender Author -->
        <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
          <mat-card class="p-1">
            <mat-card-header>
              <mat-card-title class="mat-color-primary">
                <mat-icon class="icon-header">people</mat-icon>
                <span class="algorithm-header">Gender Author</span>
              </mat-card-title>
            </mat-card-header>
  
            <mat-divider></mat-divider>
            <br>
            <p class="card-content">
              Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
            </p>
            <mat-card-content>
              <br>
              <div class="databox-details">
                <mat-slide-toggle color="primary" class="mb-1" [checked]="checked">
                  Apply Automatically
                </mat-slide-toggle>
                <span fxFlex></span>
                <button mat-raised-button class="truncate"
                  (click)="openAlgorithmDialog('Apply Enrichment')">
                  Apply only to unprocessed data
                </button>
              </div>
              <div class="databox-details-below">
                <p> (Unprocessed + New Data)</p>
  
              </div>
            </mat-card-content>
  
            <mat-divider></mat-divider>
            <br>
            <mat-card-actions>
              <span fxFlex></span>
              <h3 class="mat-h4">Cost / Mention: $0.03</h3>
            </mat-card-actions>
          </mat-card>
        </div>
  
        <!-- Entity Recognition -->
        <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
          <mat-card class="p-1">
            <mat-card-header>
              <mat-card-title class="mat-color-primary">
                <mat-icon class="icon-header">location_city</mat-icon>
                <span class="algorithm-header">Entity Recognition</span>
              </mat-card-title>
            </mat-card-header>
  
            <mat-divider></mat-divider>
            <br>
            <p class="card-content">
              Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
            </p>
            <mat-card-content>
              <br>
              <div class="databox-details">
                <mat-slide-toggle color="primary" class="mb-1" [checked]="checked">
                  Apply Automatically
                </mat-slide-toggle>
                <span fxFlex></span>
                <button mat-raised-button class="truncate"
                  (click)="openAlgorithmDialog('Apply Enrichment')">
                  Apply only to unprocessed data
                </button>
              </div>
              <div class="databox-details-below">
                <p> (Unprocessed + New Data)</p>
              </div>
            </mat-card-content>
  
            <mat-divider></mat-divider>
            <br>
            <mat-card-actions>
              <span fxFlex></span>
              <h3 class="mat-h4">Cost / Mention: $0.03</h3>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
  
      <!-- FAQ's -->
      <div fxLayout="row" fxLayoutWrap="wrap" class="faq"
        [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
  
        <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100">
          <h1 class="mat-h2 faq-header">Frequently Asked Questions</h1>
        </div>
  
        <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
          <div class="faq-inner">
            <h2 class="mat-h3 mat-color-primary">Apply Automatically</h2>
            <p>
              Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
            </p>
          </div>
        </div>
  
        <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
          <div class="faq-inner">
            <h2 class="mat-h3 mat-color-primary">Apply to Unprocessed Data</h2>
            <p>
              Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
            </p>
          </div>
        </div>
  
        <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
          <div class="faq-inner">
            <h2 class="mat-h3 mat-color-primary">Cost / Mention</h2>
            <p>
              Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
            </p>
          </div>
        </div>
  
        <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
          <div class="faq-inner">
            <h2 class="mat-h3 mat-color-primary">How to buy credit</h2>
            <p>
              Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
            </p>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
