<br>
<div class="m-333" fxLayout="row" fxLayoutWrap="wrap">
  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100">
    <h1 class="mat-h1">
      Account
      <small class="fw-400">      / Billing </small>
    </h1>
  </div>
</div>
<hr>

<!-- Plan and Credit -->
<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="33.2">
    <!-- USER ACCOUNT TYPE -->
    <app-account-type></app-account-type>
  </div>
  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="33.2">
    <!-- USER MENTIONS REMAINING -->
    <app-account-mention-remaining></app-account-mention-remaining>

  </div>

  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="33.2">
    <!-- USER ALGORITHM CREDITS REMAINING -->
    <app-account-algorithm-credit-remaining></app-account-algorithm-credit-remaining>
  </div>  
</div>  
<!-- Account Settings -->
<div fxLayout="row" fxLayoutWrap="wrap">
	<div fxLayout="column" fxFlex="100" fxFlex.gt-md="20">
		<mat-card class="profile-sidebar mb-1 pb-0">
      <div class="text-center app-user">
        <div class="app-user-photo" (click)="changeImageDialog('Change Image')">
          <img src="{{userImage}}" alt="">
        </div><br>
        <h1 class="mat-h3">CCK</h1>
      </div>
      <mat-divider></mat-divider>
      <br>
      <div class="profile-nav">
        <mat-nav-list>
          <mat-list-item routerLink="/accounts/minerva-notifications" routerLinkActive="list-item-active">
            <mat-icon>home</mat-icon>
            Minerva News
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item routerLink="/accounts/settings" routerLinkActive="list-item-active">
            <mat-icon>settings</mat-icon>
            Account Settings
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item routerLink="/accounts/users" routerLinkActive="list-item-active">
            <mat-icon>group</mat-icon>
            Users
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item routerLink="/accounts/billings" routerLinkActive="list-item-active">
            <mat-icon>monetization_on</mat-icon>
            Billing
          </mat-list-item>
        </mat-nav-list>
      </div>
		</mat-card>
	</div>

	<div class="billing" fxLayout="column" fxFlex="100" fxFlex.gt-md="80" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">

		<mat-card>
			<mat-tab-group>
				<!-- Products Active -->
			  	<!-- <mat-tab label="Products Active"> 
				  	<mat-card-content>
				  		<br>
				  		<table mat-table #table
				  		  	[dataSource]="dataSource"
				  		  	matSort="sort"
				  		  	class="my-table">

				  		  	
				  		  	<ng-container matColumnDef="product_type">
				  		    	<th mat-header-cell *matHeaderCellDef mat-sort-header>Product Type</th>
				  		    	<td mat-cell *matCellDef="let row">{{row.product_type}}</td>
				  		  	</ng-container>

				  		  	
				  		  	<ng-container matColumnDef="product_name">
				  		    	<th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
				  		    	<td mat-cell *matCellDef="let row"><p style="padding-top: 10px !important;" [innerHtml]="row.product_name"></p></td>
				  		  	</ng-container>

				  		  	
				  		  	<ng-container matColumnDef="period">
				  		    	<th mat-header-cell *matHeaderCellDef mat-sort-header>Period</th>
				  		    	<td mat-cell *matCellDef="let row">{{row.period}}</td>
				  		  	</ng-container>

				  		  	<ng-container matColumnDef="price">
				  		    	<th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
				  		    	<td mat-cell *matCellDef="let row">${{row.price}}</td>
				  		  	</ng-container>

				  		  	<div>
				  		  		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				  		  		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				  		  	</div>
				  		</table>

				  		<mat-paginator #paginator [hidden]="!dataSource"
				  		  [length]="dataSource.data?.length"
				  		  [pageIndex]="0"
				  		  [pageSize]="10"
				  		  [pageSizeOptions]="[10, 20, 50, 100]">
				  		</mat-paginator>
				  	</mat-card-content>
			  	</mat-tab> -->

			  	<!-- Billing information -->
			  	<mat-tab label="Billing Information">
			  		<br><br>
			  		<mat-card>
			  			<mat-card-header>
			  				<mat-card-title>
			  					<h3 class="mat-h3">Billing Address</h3>
			  				</mat-card-title>
			  			</mat-card-header>

			  			<mat-card-content>
			  				<form [formGroup]="billingInfoForm">
			  					<div fxLayout="row" fxLayoutWrap="wrap">
			  						<div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
		  								<mat-form-field class="billing-form">
		  							  		<input matInput placeholder="Country"
		  							  		formControlName="country">
		  								</mat-form-field>
			  						</div>

			  						<div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
		  								<mat-form-field class="billing-form">
			  						  		<input matInput placeholder="First Name"
			  						  		formControlName="firstName">
			  							</mat-form-field>
			  						</div><br>

			  						<div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
		  								<mat-form-field class="billing-form">
			  				    			<input matInput placeholder="Last Name"
			  				    			formControlName="lastName">
			  				  			</mat-form-field>
			  						</div>

			  						<div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
		  								<mat-form-field class="billing-form">
		  								  	<input matInput placeholder="Company"
		  								  	formControlName="company">
		  								</mat-form-field>
			  						</div><br>

			  						<div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
		  								<mat-form-field class="billing-form">
			  				    			<input matInput placeholder="Address Line 1"
			  				    			formControlName="address">
			  				  			</mat-form-field>
			  						</div>

			  						<div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
		  								<mat-form-field class="billing-form">
			  				    			<input matInput placeholder="Address Line 2"
			  				    			formControlName="address2">
			  				  			</mat-form-field>
			  						</div><br>

									<div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
		  								<mat-form-field class="billing-form">
			  				    			<input matInput placeholder="City"
			  				    			formControlName="city">
			  				  			</mat-form-field>
			  						</div>

			  						<div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
		  								<mat-form-field class="billing-form">
			  				    			<input matInput placeholder="Zip"
			  				    			formControlName="zip">
			  				  			</mat-form-field>
			  						</div><br>

			  						<div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
		  								<mat-form-field class="billing-form">
			  				    			<input matInput placeholder="Phone"
			  				    			formControlName="phone">
			  				  			</mat-form-field>
			  						</div>

			  						<div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
		  								<mat-form-field class="billing-form">
			  				    			<input matInput placeholder="Email"
			  				    			formControlName="email">
			  				  			</mat-form-field>
			  						</div><br>
			  					</div>

			  				  	<div class="text-center"><br>
			  				  		<button (click)="saveUpdateBillingInfo()" mat-raised-button color="primary">Save</button>
			  				  	</div>
			  				</form>
			  			</mat-card-content>
			  		</mat-card>
			  	</mat-tab>

			  	<!-- Billing History -->
			  	<mat-tab label="Billing History">
			  		<br>
		  			<table mat-table #billingTable
		  			  	[dataSource]="dataSourceBillingHistory"
		  			  	matSort="historySort"
		  			  	class="my-table">

		  			  	<!-- Payment Date -->
		  			  	<ng-container matColumnDef="payment_date">
		  			    	<th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Date</th>
		  			    	<td mat-cell *matCellDef="let row">{{row.payment_date | date: 'MMM d, yyyy'}}</td>
		  			  	</ng-container>

		  			  	<!-- Content Invoice Number -->
		  			  	<ng-container matColumnDef="invoice_number">
		  			    	<th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Number</th>
		  			    	<td mat-cell *matCellDef="let row">{{row.invoice_number || 'c3123-asd23-gewrwer-453453452'}}</td>
		  			  	</ng-container>

		  			  	<!-- Content Product -->
		  			  	<ng-container matColumnDef="product">
		  			    	<th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
		  			    	<td mat-cell *matCellDef="let row">
		  			    		<p style="padding-top: 10px !important;" [innerHtml]="row.product"></p>
		  			    	</td>
		  			  	</ng-container>

		  			  	<!-- Content Amount -->
		  			  	<ng-container matColumnDef="amount">
		  			    	<th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
		  			    	<td mat-cell *matCellDef="let row">${{row.amount}}</td>
		  			  	</ng-container>

		  			  	<!-- Content download -->
		  			  	<ng-container matColumnDef="download">
		  			    	<th mat-header-cell *matHeaderCellDef mat-sort-header>Download</th>
		  			    	<td mat-cell *matCellDef="let row">{{row.download}}</td>
		  			  	</ng-container>

		  			  	<tr mat-header-row *matHeaderRowDef="displayedColumnsBillingHistory"></tr>
		  			  	<tr mat-row *matRowDef="let row; columns: displayedColumnsBillingHistory;"></tr>
		  			</table>

		  			<mat-paginator #historyPaginator [hidden]="!dataSourceBillingHistory"
		  			  [length]="dataSourceBillingHistory.data.length"
		  			  [pageIndex]="0"
		  			  [pageSize]="10"
		  			  [pageSizeOptions]="[10, 20, 50, 100]">
		  			</mat-paginator>
					</mat-tab>
					
				<!-- Databox Quota -->
				<mat-tab label="Databox Quota" *ngIf="databoxes">
					<mat-card-content>
						<br>
						<table mat-table 
						class="my-table databox_quota" 
						[dataSource]="datasourceDataboxQuota">
						
						  	<ng-container matColumnDef="databox_name">
							    <th mat-header-cell *matHeaderCellDef> 
							    Databox Name </th>
							    <td mat-cell *matCellDef="let databoxes"> 
							    	<strong>{{databoxes.databox_name}}</strong> <br>
							    	{{databoxes.datasource}} | {{databoxes.location}}
							    </td>
						  	</ng-container>

						  	<ng-container matColumnDef="status">
							    <th mat-header-cell *matHeaderCellDef> Status </th>
							    <td mat-cell *matCellDef="let databoxes" 
							    style="padding-left: 0px !important;"> {{databoxes.status}} </td>
						  	</ng-container>

						  	<ng-container matColumnDef="date_created">
							    <th mat-header-cell *matHeaderCellDef class="text-center"> Date Created </th>
							    <td mat-cell *matCellDef="let databoxes" 
							    style="padding-left: 0px !important;"> {{databoxes.date_created | date: 'MMM d, yyyy'}} </td>
						  	</ng-container>

						  	<ng-container matColumnDef="mentions_quota">
							    <th mat-header-cell *matHeaderCellDef class="text-center"> Mentions Quota Consumed </th>
							    <td mat-cell *matCellDef="let databoxes" 
							    style="padding-left: 0px !important;"> {{databoxes.mentions}} </td>
						  	</ng-container>

						  	<ng-container matColumnDef="algorithm_quota" 
						  	style="padding-left: 0px !important;">
							    <th mat-header-cell *matHeaderCellDef class="text-center"> Algorithm Quota Consumed </th>
							    <td mat-cell *matCellDef="let databoxes"> ${{databoxes.algorithm_quota}} </td>
						  	</ng-container>

						  <tr mat-header-row *matHeaderRowDef="displayedColumnsDataboxQuota"></tr>
						  <tr mat-row *matRowDef="let row; columns: displayedColumnsDataboxQuota;"></tr>
						</table>
						
						<mat-paginator #datasourceDataboxQuotaPaginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>

					</mat-card-content>
				</mat-tab>


				<!-- Billing Subscription -->
			  	<mat-tab label="Subscription">
			  		<br><br>
			  		<mat-card>
			  			<mat-card-header>
			  				<mat-card-title>
			  					
			  				</mat-card-title>
			  			</mat-card-header>

			  			<mat-card-content>
			  				<form [formGroup]="subscriptionInfoForm">
			  					<div fxLayout="row" fxLayoutWrap="wrap">



			  						<div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
                                    <span>Plan</span><br/> 

			  						<h3 class="mat-h3">{{ restItems.account_plan.plan_name }}</h3>

			  					    </div>


			  					    <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
                                    <span>Fee</span><br/> 
                                   
			  						<h3 class="mat-h3">${{ restItems.account_plan.plan_price }} / month</h3>

			  					    </div>



			  					    <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
                                    <span>Subscription started</span><br/> 
                                   
			  						<h3 class="mat-h3">{{ restItems.account_plan.plan_created }}</h3>

			  					    </div>


			  					     <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
                                    <span>Plan Duration Remaining</span><br/> 
                                   
			  						<h3 class="mat-h3">{{ restItems.account_plan.plan_duration_remain }} Days</h3>

			  					    </div>


			  					    <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
                                    <span>Subscription Status</span><br/> 
                                   
			  						<h3 class="mat-h3">Active</h3>

			  					    </div>
			  						

			  						

			  					</div>

			  				  	<div class="text-center"><br>
			  				  		<span>Cancel Subscription</span>
			  				  		<!-- <button (click)="saveUpdateBillingInfo()" mat-raised-button color="primary">Save</button> -->
			  				  	</div>
			  				</form>
			  			</mat-card-content>
			  		</mat-card>
			  	</mat-tab>



			</mat-tab-group>
		</mat-card>
	</div>
</div>








