<div *ngIf="data.title === 'Create Category' || data.title === 'Edit Category'">
    <h1 matDialogTitle>{{ data.title }}</h1>
    <div mat-dialog-content>
        <form [formGroup]="queryForm"  *ngIf="data.title !== 'Delete Category'">
            <mat-form-field class="full-width">
                <input matInput placeholder="Category Name" formControlName="category-name">
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-select placeholder="Choose a Type" formControlName="category-type">
                    <mat-option value="Category" >Category</mat-option>
                    <mat-option value="Sub Category">Sub Category</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Query Editor -->
            <div fxLayout="row" fxLayoutWrap="wrap" >
                <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
                    <br>
                    <!--Query Menu -->
                    <div fxLayout="row" fxLayoutWrap="wrap" >
                        <button mat-raised-button 
                        class="query_type"
                        [ngClass]="showQuery === 'basic' ? 'query-active': ''"
                        (click)="showBasicQuery()">Basic Query</button>

                        <button mat-raised-button 
                        class="query_type"
                        [ngClass]="showQuery === 'advance' ? 'query-active': ''"
                        (click)="showAdvanceQuery()">Advanced Query</button>
                    </div>
                    <!--Basic Query Editor -->
                    <mat-card-content *ngIf="showQuery == 'basic'" 
                        [@animate]="{
                            value: '*',
                            params: { x: '10px', delay: '400ms' }
                        }"> 
                        <br>

                        <span class="mat-color-primary mat-h3">Basic Query</span>

                        <div fxLayout="row" fxLayoutWrap="wrap" >
                            <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="49" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
                                <b class="mt-1">Required Keywords</b>
                                <p class="mt-1">Your Databox will collect mentions that contain all of these keywords.</p>
                                <mat-form-field style="border: 1px solid gray;" class="full-width">
                                    <div class="p-1">
                                        <mat-placeholder class="placeholder" 
                                        *ngIf="queryForm.controls['required-keywords'].value === null
                                        || queryForm.controls['required-keywords'].value === ''">
                                          {{editorData}}
                                        </mat-placeholder>
                                        <textarea matInput rows="5" cols="80" 
                                        formControlName="required-keywords"></textarea>
                                    </div>
                                </mat-form-field>
                            </div>
                            <span fxFlex></span>
                            <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="49" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
                                <b class="mt-1">Optional Keywords</b>
                                <p class="mt-1">Your Databox will collect mentions that contain at least one of these keywords, plus all required keywords.</p>
                                <mat-form-field style="border: 1px solid gray;" class="full-width">
                                    <div class="p-1">
                                        <mat-placeholder class="placeholder" 
                                        *ngIf="queryForm.controls['optional-keywords'].value === null 
                                        || queryForm.controls['optional-keywords'].value === ''">
                                          {{editorData}}
                                        </mat-placeholder>
                                        <textarea matInput rows="5" cols="80" 
                                        formControlName="optional-keywords"></textarea>
                                    </div>  
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutWrap="wrap" >
                            <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
                                <b class="mt-1">Exclude Keywords</b>
                                <p class="mt-1">Your Databox will not bring in mentions any of the following keywords.</p>
                                <mat-form-field style="border: 1px solid gray;" class="full-width">
                                    <div class="p-1">
                                        <mat-placeholder class="placeholder" 
                                        *ngIf="queryForm.controls['excluded-keywords'].value === null
                                        || queryForm.controls['excluded-keywords'].value === ''">
                                          {{editorData}}
                                        </mat-placeholder>
                                        <textarea matInput rows="5" cols="80" 
                                        formControlName="excluded-keywords"> 
                                        </textarea>
                                    </div>
                                </mat-form-field>                             
                            </div>
                        </div>                                                  
                    </mat-card-content>
                    <!--Avanced Query Editor -->
                    <mat-card-content *ngIf="showQuery == 'advance'" 
                      [@animate]="{
                        value: '*',
                        params: { x: '10px', delay: '400ms' }
                      }">
                        <div fxLayout="row" fxLayoutWrap="wrap">
                            <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}" fxLayoutAlign="center">
                                <br>
                                <mat-card-header>
                                  <mat-card-title class="mat-color-primary">
                                    <span>Advanced Query</span>
                                  </mat-card-title>
                                  <mat-card-subtitle>
                                    <p>Lorem ipsum dolor sit amet, et vel error viris democritum, ei duo sumo tota albucius. Sumo atqui ut eam, mel recteque omittantur definitionem et, meliore intellegebat an cum. Vim falli insolens persequeris no. Eu pri aeque semper, dicunt malorum reprehendunt ex mea, viderer inimicus vim ne. Cu causae impetus eam, et atqui tibique consectetuer nam, in erroribus incorrupte vim. Ea voluptua eloquentiam has.</p>
                                  </mat-card-subtitle>
                                </mat-card-header>
                                <mat-divider></mat-divider>
                                <br>

                                <mat-card-content class="p-0">
                                    <mat-form-field class="full-width">
                                        <mat-placeholder class="placeholder" 
                                        *ngIf="queryForm.controls['advance-query'].value === null
                                        || queryForm.controls['advance-query'].value === ''">
                                          {{editorDataAdv}}
                                        </mat-placeholder>
                                        <textarea matInput rows="10" cols="80" 
                                        formControlName="advance-query"></textarea>
                                    </mat-form-field>
                                </mat-card-content>
                            </div>
                        </div>
                    </mat-card-content>

                    <!-- Expression Help -->
                    <mat-card-content *ngIf="showQuery == 'advance'" >
                        <div fxLayout="row" fxLayoutWrap="wrap" class="query-inner">
                            <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}" fxLayoutAlign="center">
                                <mat-card class="p-0">
                                    <div class="text-muted query-help">
                                        <mat-icon class="query-icon">remove_red_eye</mat-icon>
                                        <a>Show Simple Example</a>
                                        <mat-icon class="query-icon">remove_red_eye</mat-icon>
                                        <a>Show Complex Example</a>
                                        <mat-icon class="query-icon">help_outline</mat-icon>
                                        <a>Need More Help?</a>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutWrap="wrap">
                            <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}" fxLayoutAlign="center">
                                <mat-card class="query-right-side">
                                    <mat-card-content>
                                        <h3 class="mat-h3">Boolean Operations: Booleans help you create your query.</h3>
                                        <p class="mat-color-primary query-info"matTooltip="OR operators are used to expand your query. For example: car OR bus OR train">OR = OR's help you expand your query
                                        </p>
                                        <p class="mat-color-primary query-info"matTooltip="AND operators are used to expand your query. For example: car AND bus AND train">AND = AND's help you be more exact
                                        </p>
                                        <p class="mat-color-primary query-info"matTooltip="NOT operators are used to expand your query. For example: car NOT bus NOT train">NOT = NOT's help you exclude information
                                        </p>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </mat-card-content>
                </div>
            </div>
        </form>  
    </div>

    <br>
    <div mat-dialog-actions>
        <span fxFlex></span>
        <button mat-raised-button
          class="mb-05"
          color="primary"
          (click)="addCategoryExpression()"
          *ngIf="!data?.editCategory">
          Add Expression
        </button>

        <button mat-raised-button
          class="mb-05"
          color="primary"
          (click)="editCategoryExpression()"
          *ngIf="data?.editCategory && data.title !== 'Delete Category'">
          Edit Expression
        </button>

        <button mat-raised-button
          class="mb-05"

          (click)="dialogRef.close(false)">
          Cancel
        </button>
    </div>
</div>

<!-- Save categories to fake db -->
<div *ngIf="data.title === 'Save Categories'">
    <h1 matDialogTitle>{{ data.title }}</h1>
    <div mat-dialog-content>
        <p>Are you sure you want to save all the categories? Click the "Save Categories" button to proceed</p>
    </div>

    <br>
    <div mat-dialog-actions>
        <span fxFlex></span>
        <button mat-raised-button
          class="mb-05"
          color="primary"
          (click)="saveChangesToDB()">
          Save Categories
        </button>

        <button mat-raised-button
          class="mb-05"

          (click)="dialogRef.close(false)">
          Cancel
        </button>
    </div>
</div>

<!-- Delete categories to fake db -->
<div *ngIf="data.title === 'Delete Category'">
    <h1 matDialogTitle>{{ data.title }}</h1>
    <div mat-dialog-content>
        <p >You are about to delete a Category or Expresson. Are you sure you want to delete the {{data.category}} Category from the list of categories?</p>
    </div>

    <br>
    <div mat-dialog-actions>
        <span fxFlex></span>
        <button mat-raised-button
          class="mb-05"
          color="warn"
          (click)="deleteCategoryExpression()"
          *ngIf="data?.editCategory && data.title === 'Delete Category'">
          Delete Expression
        </button>

        <button mat-raised-button
          class="mb-05"

          (click)="dialogRef.close(false)">
          Cancel
        </button>
    </div>
</div>



<!-- Cancel Changes -->
<div *ngIf="data.title === 'Cancel Changes'">
    <h1 matDialogTitle>Exit without saving changes?</h1>
    <div mat-dialog-content>
        <p>Are you sure you want to cancel all the changes you applied. Please confirm to proceed.</p>
    </div>

    <br>
    <div mat-dialog-actions>
        <span fxFlex></span>
        <button mat-raised-button
          class="mb-05"
          color="warn"
          (click)="cancelChanges()">
          Yes
        </button>

        <button mat-raised-button
          class="mb-05"
          (click)="dialogRef.close(false)">
          Cancel
        </button>
    </div>
</div>

<!-- Cancel Changes -->
<div *ngIf="data.title === 'Test Category'">
    <h1 matDialogTitle>{{ data.title }}</h1>
    <div mat-dialog-content>
        <p>You are about to build and update this databox categories expression. Are you sure you want to proceed?</p>
    </div>

    <br>
    <div mat-dialog-actions>
        <span fxFlex></span>
        <button mat-raised-button
          class="mb-05 mat-bg-success"
          (click)="testCategory()">
          Test Category
        </button>

        <button mat-raised-button
          class="mb-05"

          (click)="dialogRef.close(false)">
          Cancel
        </button>
    </div>
</div>

