<br id="databox-breadcrumb">
<!-- Header and Breadcrumb for Databox with Status Active -->
<div *ngIf="checkIfCreateOrEdit === 'Create' && (databoxItemData || data)">
  <div class="header-row m-333" fxLayout="row" fxLayoutWrap="wrap">
    <div class="header-row" fxLayout="column" fxFlex="100" fxFlex.gt-md="100">
      <img src="assets/images/icon-databox.png" />
      <h1 class="mat-h1">
        {{ databoxItemData || data?.databox_name }}
        <small>
          <mat-icon *ngIf="checkIfCreateOrEdit === 'Create' && data?.status === 'Draft'"
            (click)="openDialog('Edit Databox Name', 'Databox Name', true)"
            >edit</mat-icon
          >      
          <mat-icon *ngIf="checkIfCreateOrEdit === 'Create' && data?.status !== 'Draft'"
            (click)="openDialog('Set Databox Name', 'Databox Name', true)"
            >edit</mat-icon
          >      
          <span class="main-route">
            <a routerLink="/databoxes/">Databoxes </a> 
          </span>
          <span>/ {{ databoxItemData || data?.databox_name }}/ Create Databox</span>
        </small>
      </h1>
    </div>
  </div>

  <div class="m-333" fxLayout="row" fxLayoutWrap="wrap" #databoxesButtonID>
    <button
      mat-raised-button
      class="mb-05"
      color="primary"
      (click)="cancelChanges()"
    >
      Back to Databox
    </button>
  </div>
</div>

<!-- Header and Breadcrumb for Databox with Status Active -->
<div *ngIf="checkIfCreateOrEdit === 'Edit' && data">
  <div class="m-333" fxLayout="row" fxLayoutWrap="wrap">
    <div class="header-row" fxLayout="row" fxFlex="100" fxFlex.gt-md="100">
      <img src="assets/images/icon-databox.png" />
      <h1 class="mat-h1">
        {{ data?.databox_name }}
        <small>
          <mat-icon
            (click)="openDialog('Edit Databox Name', 'Databox Name', true)"
            >edit</mat-icon
          >      
          <span class="main-route">
            <a routerLink="/databoxes/">Databoxes </a> /
            <a (click)="navigateToDatabox(data?._id, data?.first_create)">
              {{ data?.databox_name }}</a
            >
          </span>
          <span>/ Edit Query</span>
        </small>
      </h1>
    </div>
  </div>

  <div class="m-333" fxLayout="row" fxLayoutWrap="wrap" #databoxesButtonID>
    <button mat-raised-button class="mb-05" color="primary"
    (click)="cancelChanges()">
      Back to Databox
    </button>  
  </div>
</div>
<hr />
<br />

<div *ngIf="checkIfCreateOrEdit === 'Create'" class="m-333" fxLayout="row" fxLayoutWrap="wrap">
    <h3 class="mat-h3">Creating a Databox:</h3>
    <p>Databoxes are where everything happens in Minerva. To create a Databox, you'll need to create a query, which is comprised of several required fields: your datasource, country, historical data and the keywords that will search our databases.</p>
</div>
<form [formGroup]="queryForm" fxLayout="row" fxLayoutWrap="wrap">
  <!-- Column1 -->
  <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" [@animate]="{ value: '*', params: { y: '200px', delay: '400ms' } }">
    <div class="m-333 settings" fxLayout="row" fxLayoutWrap="wrap">
      <h1 class="mat-h1">Query Editor</h1>
    </div>
    <!-- Change Datasource -->
    <div fxLayout="row" fxLayoutWrap="wrap">
      <div fxLayout="column" fxFlex.gt-sm="100" [@animate]="{ value: '*', params: { y: '200px', delay: '400ms' } }">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <span>Change Datasource</span>
            </mat-card-title>
          </mat-card-header>

          <mat-divider></mat-divider>
          <mat-card-content class="p-0">
            <br />
            <mat-form-field class="full-width">
              <mat-select 
                formControlName="datasource"
                [(value)]="selectedDatasource" 
                (selectionChange)="selectDatasource()">

                  <mat-option *ngFor="let singleDatasource of loggedInUser?.datasources" 
                  [value]="singleDatasource">
                  {{ singleDatasource }}
                
                  </mat-option>

                  <mat-option *ngFor="let data_item of datasource" 
                  [disabled]="true" 
                  [value]="data_item" class="unavailable-datasource">
                    <span 
                    matTooltip="Upgrade your plan to unlock this datasource"
                    matTooltipPosition="right"
                    matTooltipClass='pos-right'>
                      {{data_item}}
                    </span>
                  </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </div>
    </div> 

    <!-- Change Country -->
    <div fxLayout="row" fxLayoutWrap="wrap">
      <div fxLayout="column" fxFlex.gt-sm="100" [@animate]="{ value: '*', params: { y: '200px', delay: '400ms' } }">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <span>Change Country</span>
            </mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content class="p-0">
            <br>
            <div id="countries">
              <button mat-raised-button class="query_type" 
              *ngFor="let country of countries" 
              (click)="selectCountry(country.name)" 
              id="{{country.name}}">{{country.name}}</button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <!-- Connect Your Page -->
    <div fxLayout="row" fxLayoutWrap="wrap" *ngIf="data?.datasource === ('Owned Twitter Profile' || 'Owned Facebook Page')">
      <div fxLayout="column" fxFlex.gt-sm="100">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <span>Connect Your Page</span>
            </mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content class="p-0">
            <br>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <!-- Historical -->
    <div fxLayout="row" fxLayoutWrap="wrap" *ngIf="historicals">
      <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100" 
      [@animate]="{ value: '*', params: { y: '200px', delay: '400ms' } }">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <span>Historical</span>
            </mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <br>
            <div id="historicals">
              <button mat-raised-button class="query_type" 
              *ngFor="let historical of historicals" 
              (click)="selectHistorical(historical.display_text)" 
              id="{{historical.display_text}}">
              {{historical.display_text}}</button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <!-- Query Editor -->
    <div fxLayout="row" fxLayoutWrap="wrap">
      <div
        fxLayout="column"
        fxFlex="100"
        fxFlex.gt-md="100"
        [@animate]="{ value: '*', params: { y: '200px', delay: '400ms' } }"
      >
        <mat-card>
          <mat-card-header class="accordion-databox" 
          (click)="selectAccordion('showQuery')">
            <mat-card-title>
              <span>Query</span>
            </mat-card-title>
            <span fxFlex></span>

            <mat-icon 
            class="mat-icon material-icons mat-color-gray" 
            *ngIf="showQueryAccord" 
            [@animate]="{
              value: '*',
              params: { scale: '0.7', delay: '200ms' }
            }">
            keyboard_arrow_down</mat-icon>

            <mat-icon 
            class="mat-icon material-icons mat-color-gray" 
            *ngIf="!showQueryAccord" 
            [@animate]="{
              value: '*',
              params: { scale: '0.7', delay: '200ms' }
            }">
            keyboard_arrow_right</mat-icon>
          </mat-card-header>
          <mat-divider></mat-divider>
          
          <div *ngIf="showQueryAccord" [@animate]="{
                value: '*',
                params: { y: '-20px', delay: '400ms' }
              }">
            <br />
            <!--Query Menu -->
            <div fxLayout="row" fxLayoutWrap="wrap">
              <button mat-raised-button mat-color-primary 
              (click)="showBasicQuery()"
              class="query_type" 
              [ngClass]="showQuery === 'basic' ? 'query-active': ''">
                Basic Query
              </button>
              <button mat-raised-button 
              class="query_type"
              [ngClass]="showQuery === 'advance' ? 'query-active': ''"
              (click)="showAdvanceQuery()">
              Advanced Query</button>
            </div>
            <!--Basic Query Editor -->
            <mat-card-content *ngIf="showQuery == 'basic'" 
              [@animate]="{
                value: '*',
                params: { x: '200px', delay: '400ms' }
              }">
              <mat-card-title class="mat-color-primary query-header">
                <span>Basic Query</span>
              </mat-card-title>
              <div fxLayout="row" fxLayoutWrap="wrap">
                <div
                  fxLayout="column"
                  fxFlex="100"
                  fxFlex.gt-sm="100"
                  [@animate]="{
                    value: '*',
                    params: { x: '200px', delay: '400ms' }
                  }"
                >
                  <b>Required Keywords</b>
                  <p class="mt-05 text-muted">
                    Your Databox will collect mentions that contain all of these
                    keywords.
                  </p>
                  <mat-form-field
                    style="border: 1px solid gray;"
                    class="full-width"
                  >
                    <div class="p-1">
                      <mat-placeholder class="placeholder">
                        {{chipInputPlaceholder}}
                      </mat-placeholder>
                      <mat-chip-list #chipList>
                        <mat-chip *ngFor="let keyword of requiredKeywords" [selectable]="selectable"
                            [removable]="removable" (removed)="remove(keyword, 'required')">
                            {{keyword.name}}
                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input
                          [matChipInputFor]="chipList"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          matChipInputAddOnBlur="false"
                          (matChipInputTokenEnd)="add($event, 'required')"
                          formControlName="required-keywords">
                      </mat-chip-list>
                    </div>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutWrap="wrap">
                <div
                  fxLayout="column"
                  fxFlex="100"
                  fxFlex.gt-sm="100"
                >
                  <b class="mt-1">Optional Keywords</b>
                  <p class="mt-05 text-muted">
                    Your Databox will collect mentions that contain at least one
                    of these keywords, plus all required keywords.
                  </p>
                  <mat-form-field
                    style="border: 1px solid gray;"
                    class="full-width"
                  >
                    <div class="p-1">
                      <mat-placeholder class="placeholder">
                        {{chipInputPlaceholder}}
                      </mat-placeholder>
                      <mat-chip-list #chipList>
                        <mat-chip *ngFor="let optionalKeyword of optionalKeywords" [selectable]="selectable"
                            [removable]="removable" (removed)="remove(optionalKeyword, 'optional')">
                            {{optionalKeyword.name}}
                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input
                          [matChipInputFor]="chipList"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur"
                          (matChipInputTokenEnd)="add($event, 'optional')"
                          formControlName="optional-keywords">
                      </mat-chip-list>
                    </div>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutWrap="wrap">
                <div
                  fxLayout="column"
                  fxFlex="100"
                  fxFlex.gt-sm="100"
                  [@animate]="{
                    value: '*',
                    params: { x: '200px', delay: '400ms' }
                  }"
                >
                  <b class="mt-1">Exclude Keywords</b>
                  <p class="mt-05 text-muted">
                    Your Databox will not bring in mentions any of the following
                    keywords.
                  </p>
                  <mat-form-field
                    style="border: 1px solid gray;"
                    class="full-width"
                  >
                    <div class="p-1">
                      <mat-placeholder class="placeholder">
                        {{chipInputPlaceholder}}
                      </mat-placeholder>
                      <mat-chip-list #chipList>
                        <mat-chip *ngFor="let excludeKeyword of excludeKeywords" [selectable]="selectable"
                            [removable]="removable" (removed)="remove(excludeKeyword, 'exclude')">
                            {{excludeKeyword.name}}
                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input
                          [matChipInputFor]="chipList"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur"
                          (matChipInputTokenEnd)="add($event, 'exclude')"
                          formControlName="optional-keywords">
                      </mat-chip-list>
                    </div>
                  </mat-form-field>
                </div>
              </div>
            </mat-card-content>
            <!--Avanced Query Editor -->
            <mat-card-content>
              <div fxLayout="row" fxLayoutWrap="wrap">
                <div
                  fxLayout="column"
                  fxFlex="100"
                  fxFlex.gt-md="100"
                  fxLayoutAlign="center"
                >
                  <mat-card-header class="query-header" 
                  *ngIf="showQuery === 'advance'"
                  [@animate]="{
                    value: '*',
                    params: { x: '200px', delay: '400ms' }
                  }">
                    <mat-card-title class="mat-color-primary">
                      <span>Advanced Query</span>
                    </mat-card-title>
                    <mat-card-subtitle>
                      <p>
                        The advanced query editor gives you the possibility to create a more complex query, using regular expressions and boolean operators.
                      </p>
                    </mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content 
                    *ngIf="showQuery === 'advance'"
                    [@animate]="{
                      value: '*',
                      params: { x: '200px', delay: '400ms' }
                    }">
                    <div fxLayout="row" fxLayoutWrap="wrap" class="query-inner">
                      <div
                        fxLayout="column"
                        fxFlex="100"
                        fxFlex.gt-md="100"
                        fxLayoutAlign="center"
                      >
                          <mat-form-field
                            style="border: 1px solid gray;"
                            class="full-width"
                          >
                            <div class="p-1">
                              <mat-placeholder class="placeholder" 
                              *ngIf="queryForm.controls['advance-query'].value === ''">
                              {{editorDataAdv}}</mat-placeholder>
                              <textarea
                                matInput
                                rows="10"
                                cols="80"
                                formControlName="advance-query"
                              ></textarea>
                            </div>
                          </mat-form-field>
                          <div class="text-muted query-help mt-1">
                            <a matTooltip="car OR bus OR train" ng-click="showDetails = ! showDetails">Show Simple Example</a>
                              <div class="procedure-details" ng-class="{ 'hidden': ! showDetails }">
                                <p>Number of patient discharges</p>
                              </div>
                            <a matTooltip="(car OR bus) AND train">Show Complex Example</a>
                            <a>Need More Help?</a>
                          </div>
                      </div>
                    </div>
                  </mat-card-content>

                  <mat-card-content
                    *ngIf="showQuery === 'advance'"
                    >
                    <div fxLayout="row" fxLayoutWrap="wrap">
                      <div
                        fxLayout="column"
                        fxFlex="100"
                        fxFlex.gt-md="100"
                        [@animate]="{
                          value: '*',
                          params: { y: '200px', delay: '400ms' }
                        }"
                        fxLayoutAlign="center"
                      >
                        <mat-card class="query-right-side">
                          <mat-card-content>
                            <h4 class="mat-h4">
                              Boolean Operations:
                            </h4>
                            <p
                              class="mat-color-primary query-info"
                              matTooltip="OR operators are used to expand your query. For example: car OR bus OR train"
                            >
                              OR = OR's help you expand your query
                            </p>
                            <p
                              class="mat-color-primary query-info"
                              matTooltip="AND operators are used to expand your query. For example: car AND bus AND train"
                            >
                              AND = AND's help you be more exact
                            </p>
                            <p
                              class="mat-color-primary query-info"
                              matTooltip="NOT operators are used to expand your query. For example: car NOT bus NOT train"
                            >
                              NOT = NOT's help you exclude information
                            </p>
                          </mat-card-content>
                        </mat-card>
                      </div>
                    </div>
                  </mat-card-content>
                </div>
              </div>
            </mat-card-content>
          </div>
        </mat-card>
      </div>
    </div>

    <!-- Advanced Settings -->
    <div fxLayout="row" fxLayoutWrap="wrap" >
      <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100">
        <mat-card class="accordion-databox">
          <mat-card-header (click)="selectAccordion('showAdvance')">
            <mat-card-title>
              <span>Advanced Settings</span>
            </mat-card-title>
            <span fxFlex></span>
            <mat-icon 
            class="mat-icon material-icons mat-color-gray" 
            *ngIf="showAdvanceAccord" 
            [@animate]="{
              value: '*',
              params: { scale: '0.7', delay: '200ms' }
            }">
            keyboard_arrow_down</mat-icon>

            <mat-icon 
            class="mat-icon material-icons mat-color-gray" 
            *ngIf="!showAdvanceAccord" 
            [@animate]="{
              value: '*',
              params: { scale: '0.7', delay: '200ms' }
            }">keyboard_arrow_right</mat-icon>
          </mat-card-header>
          <mat-divider></mat-divider>
          
          <div *ngIf="showAdvanceAccord" 
            [@animate]="{
              value: '*',
              params: { y: '-20px', delay: '400ms' }
            }">
            <br>
              <mat-slide-toggle color="primary" class="mb-1" formControlName="include_comments"><b>Include Comments</b>
              </mat-slide-toggle>
            <p>Include comments will retieve all the comments from the posts on your query. The content will not necessarily match your query.</p>
              <mat-slide-toggle color="primary" class="mb-1" formControlName="specify_max_number_result"><b>Specify Maximum Number of Results</b>
              </mat-slide-toggle>
              <p>Use this option if you only need a specific amount of results and don't to be charged for the entire amount of results found from your query.</p>
            <div fxLayout="row" fxLayoutWrap="wrap" *ngIf="checkMaxNumberResult()">
              <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" class="pb-1">
                  <p>Please type the amount of desired results.</p>
                    <mat-form-field style="border: 1px solid gray;" class="full-width">
                      <div class="p-1">
                        <input type="number" min="0" max="99" matInput formControlName="max_number_result">
                      </div>  
                    </mat-form-field>
                    <br>
                </div>
            </div>
              <mat-slide-toggle color="primary" class="mb-1" formControlName="monitor_only_news_media"><b>Monitor only News Media</b>
              </mat-slide-toggle>
              <p>Minerva curates a list of media profiles specific to your selected country. By choosing this option, you will monitor only these profiles.</p>
              <mat-slide-toggle color="primary" class="mb-1" formControlName="monitor_specific_page"><b>Monitor Specific Pages</b>
              </mat-slide-toggle>
              <p>Use this option if you only need to monitor a specific list of pages.</p>
            <div fxLayout="row" fxLayoutWrap="wrap" *ngIf="checkFacebookPageID()">
              <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" class="pb-1">
                  <p>Write down the name of the profile, if you don't see it, it's probably because we don't have it in our databases. If this happens, use the following link to make the suggestion.</p>
                    <mat-form-field style="border: 1px solid gray;" class="full-width">
                      <div class="p-1">
                        <textarea matInput rows="10" cols="80"
                        formControlName="facebook_page_id"></textarea>
                      </div>  
                    </mat-form-field>
                </div>
            </div>
              <mat-slide-toggle color="primary" class="mb-1" formControlName="monitor_specific_page"><b>Exclude Specific Pages</b>
              </mat-slide-toggle>
              <p>Use this option if you only need to exclude a specific list of pages.</p>
            <div fxLayout="row" fxLayoutWrap="wrap" *ngIf="checkFacebookPageID()">
              <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" class="pb-1">
                  <p>Write down the name of the profile, if you don't see it, it's probably because we don't have it in our databases. If this happens, use the following link to make the suggestion.</p>
                    <mat-form-field style="border: 1px solid gray;" class="full-width">
                      <div class="p-1">
                        <textarea matInput rows="10" cols="80"
                        formControlName="facebook_page_id"></textarea>
                      </div>  
                    </mat-form-field>
                </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>


    <div class="m-333" fxLayout="row" fxLayoutWrap="wrap">
      <span fxFlex></span>
      <button mat-raised-button class="mb-05 mat-bg-success" 
      (click)="openDialogTestQuery(
          'Test Query',
          'You are about to build and update this query. Are you sure you want to proceed?')
      ">
        Test Query
      </button>
    </div>
  </div>
  <!-- Column2 -->
  <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" [@animate]="{ value: '*', params: { y: '200px', delay: '400ms' } }">
    <div class="m-333 settings" fxLayout="row" fxLayoutWrap="wrap">
      <h1 class="mat-h1">Results Preview</h1>
    </div>

    <!-- Metrics -->
    <div fxLayout="row" fxLayoutWrap="wrap">
      <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100" class="page-search mat-bg-gray">
        <div>
          <p>
            <b>Mentions:</b> {{data?.mentions || 1200}}&nbsp;&nbsp;|&nbsp;&nbsp;<b>Mentions per day:</b> {{data?.mentions_per_day || 7.5}}
          </p>
        </div>
      </div>
    </div>

    <!-- Line Chart -->
    <div fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex="100" fxFlex.gt-sm="100">
        <mat-card class="p-0">
          <mat-card-content class="px-1" 
          style="padding-top: 40px !important; padding-left: 20px !important;">
            <!-- Line Chart -->
            <!-- <ngx-charts-line-chart
              [view]="view"
              [scheme]="colorScheme"
              [results]="multi"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [autoScale]="autoScale"
            >
            </ngx-charts-line-chart> -->
            <canvas 
              baseChart 
              class="chart"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="chartColors"
              [legend]="lineChartLegend"
              showXAxisLabel="false"
              showYAxisLabel="false"
              [chartType]="lineChartType"></canvas> 
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div
      style="position: -webkit-sticky; position: sticky;top: 0;"
      fxLayout="row"
      fxLayoutWrap="wrap"
    >
      <div
        fxLayout="column"
        fxFlex="100"
        fxFlex.gt-sm="100"
        [@animate]="{ value: '*', params: { y: '200px', delay: '400ms' } }"
      >
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <span>Results</span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="text-justify" [innerHtml]="setResult()">.</p>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-content> </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</form>
<br />

<mat-divider></mat-divider><br />
<div class="buttonRow m-333" fxLayout="row" fxLayoutWrap="wrap">
  
  <!-- Dialogs for New Creation of Databox with no Status -->
  <div *ngIf="checkIfCreateOrEdit === 'Create' && data?.status !== 'Draft'">
    <button
      mat-raised-button
      class="mb-05"
      (click)="cancelChanges()"
    >
      Cancel
    </button>

    <button
      mat-raised-button
      class="mb-05 mat-bg-gray"
      (click)="
        openDialog(
          'Save as Draft',
          'Are you sure you want to save this databox as draft? You can edit the details later. Please confirm to continue.',
          false
        )
      "
    >
      Save as Draft
    </button>
    <button
      mat-raised-button
      class="mb-05 mat-bg-green"
      (click)="openMentionsDialog('Create Databox')"
    >
      Create Databox
    </button>
  </div>

  <!-- Dialogs for already Created Databox with Status as Draft -->
  <div *ngIf="checkIfCreateOrEdit === 'Create' && data?.status === 'Draft'">
    <button
      mat-raised-button
      class="mb-05"
      (click)="
        openDialog(
          'Exit without saving changes?',
          'Are you sure you want to cancel all the changes you applied. Please confirm to proceed.',
          false
        )
      "
    >
      Cancel
    </button>

    <button
      mat-raised-button
      class="mb-05 mat-bg-gray"
      (click)="
        openDialogUpdate(
          'Save Changes',
          'Are you sure you want to save the changes for this databox? Please confirm to continue.'
        )
      "
    >
      Save Changes
    </button>
    <button
      mat-raised-button
      class="mb-05 mat-bg-green"
      (click)="openMentionsDialogUpdate('Activate Databox', data?.mentions)"
    >
      Activate Databox
    </button>
  </div>

  <!-- Dialogs for already Created Databox with Status as Active -->
  <div *ngIf="checkIfCreateOrEdit === 'Edit'">
    <button
      mat-raised-button
      class="mb-05"
      (click)="cancelChanges()"
    >
      Cancel
    </button>
    
    <button
      mat-raised-button
      class="mb-05 mat-bg-gray"
      (click)="openMentionsDialogUpdate('Run Query', setMentionValue(data?.mentions))"
    >
      Run Query
    </button>
  </div>
</div>
<br /><br />
