mat-select {
  text-align: center !important;
}

.branding a {
  line-height: 0;
}

.app-user-photo {
  z-index: 9;
  cursor: pointer;
  &:hover {
    background: rgba(0, 0, 0, .8);
    &:before {
      content: "  Change  ";
      font-size: 9px;
      margin-left: 1px;
      width: 65px;
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 8px;
      padding-bottom: 6px;
      border-bottom-right-radius: 500px;
      border-bottom-left-radius: 500px;
      color: white;
      position: absolute;
      top: 155px;
      background: rgba(0, 0, 0, 0.5);
    }
  }
  width: 85px;
  height: 85px;
}



.sidebar-panel{
  z-index: 9999999 !important;
  background: white !important;
}