<div class="sidebar-panel">
  <div id="scroll-area" class="navigation-hold" fxLayout="column">
    <!-- App Logo -->
    <div class="branding default-bg">
      <a routerLink = "/databoxes"><img src="assets/images/logo_minerva.svg" width="120" alt="logo minerva"></a>
      <!-- Two different logos for dark and light themes -->

    </div>

    <!-- Sidebar user -->
    <div class="app-user">
      <div class="app-user-photo" routerLink="/accounts/minerva-notifications">
        <img src="{{userImage}}" alt="">
      </div>

      <span class="mb-05">
        <mat-form-field>
          <mat-select 
            (selectionChange)="changeSelectedAccount($event)"
            [value]="selected">
            <mat-option value="{{accounts.account_name}}" 
            *ngFor="let accounts of userList">
              {{accounts.account_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </span>

    <!-- Navigation -->
    <app-sidenav [items]="menuItems" [hasIconMenu]="hasIconTypeMenuItem" [iconMenuTitle]="iconTypeMenuTitle"></app-sidenav>
  </div>
</div>
