
small{
  mat-icon{
    cursor: pointer;
    font-size: 18px;
    color: rgba(0, 0, 0, .54);
    margin-left: 1%;
  }

  font-size: 14px !important;
  
}

.mat-form-field.apply-coupon {
  width: 110px !important;
  margin-right: 20px;
}

.sucess-coupon {
  color: #22d9c9;
}

.apply-coupon {
  height: 20px;
  width: 110px;
}