<br>
<div class="header-row m-333" fxLayout="row" fxLayoutWrap="wrap">
  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100">
    <img src="assets/images/icon-products.png">
    <h1 class="mat-h1">
        Products
        <small>
          <span class="main-route">
            <a routerLink="/products">Products</a>
          </span> 
          <span>/ Cart</span> 
        </small>
      </h1>
  </div>
</div>

<div class="margin-333">
    <table class="cart-table default-bg mat-elevation-z1"
    *ngIf="cart.length"
    [@animate]="{value:'*',params:{delay: '100ms', x:'-50px'}}">
      <thead>
        <tr>
          <th class="text-muted">Remove</th>
          <th class="text-muted">Product</th>
          <th class="text-muted">Price</th>
          <th class="text-muted">Quantity</th>
          <th class="text-muted" *ngIf="checkIfAccountType()">Bill Monthly or Anually</th> 
          <th class="text-muted">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart">
          <td><button mat-icon-button color="warn" (click)="removeProduct(item)"><mat-icon>close</mat-icon></button> </td>
          <td><span>{{item.product.name}}</span></td>
          <td>

            ${{item.product.price.sale}}

            {{item.product.category === 'Account Type' ? '/month' : ''}}
            {{item.product.category === 'Credit' ? '/mentions' : ''}}
          </td>
          <td>
            <input *ngIf="item.product.category !== 'Account Type'"
            class="quantity-input default-bg" 
            id="quantity" min="1" name="quantity" 
            type="number" 
            (change)="onQuantityChange()" 
            [(ngModel)]="item.data.quantity">
            <div *ngIf="item.product.category === 'Account Type'">1</div>
          </td>
          <td *ngIf="checkIfAccountType() && item.product.category === 'Account Type'">
            <mat-slide-toggle *ngIf="checkIfAccountType() && item.product.category === 'Account Type'"
              color="primary"
              class="mb-1"
              [ngModel]="billYearly"
              (change)="onBillMonthlyYearly($event, item.product.price.sale, item)">
            </mat-slide-toggle>
             
          </td> 
          <td *ngIf="checkIfAccountType() && item.product.category !== 'Account Type'"></td>
          <td>${{getItemTotal(item.product.price.sale, item.data.quantity, item.product.category)}}</td>
        </tr>
      </tbody>
    </table>

    <div fxLayout="row" fxLayout.lt-md="column" *ngIf="cart.length" [@animate]="{value:'*',params:{delay: '100ms', x:'50px'}}">
      <div fxFlex></div>
      <div fxFlex="25">
        <mat-card class="m-0">
          <div class="line mb-1">
            <span class="fw-500">Subtotal:</span>
            <span fxFlex></span>
            <span class="text-muted">${{subTotal}}</span>
          </div>
          <div class="line mb-1">
            <span class="fw-500">Annual Discount (10%):</span>
            <span fxFlex></span>
            <span class="text-muted">${{annualDiscount || annualDiscountText}}</span>
          </div>
          <div class="line mb-1">
            <span class="fw-500">IVA:</span>
            <span fxFlex></span>
            <span class="text-muted">{{vat}}%</span>
          </div>
          <mat-divider class=""></mat-divider>
          <div class="line mb-1 pt-1">
            <span class="fw-500">Total:</span>
            <span fxFlex></span>
            <span class="text-muted">${{total}}</span>
          </div>
          <mat-card-actions style="padding: 20px !important;">
            <span fxFlex></span>
            <button mat-raised-button color="primary" (click)="getBack()">Back To Shop</button>
            <button mat-raised-button class="mat-color-green" routerLink="/products/checkout">Checkout</button>

          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div *ngIf="!cart.length" [@animate]="{value:'*',params:{delay: '100ms', y:'-50px'}}">
      <mat-card class="text-center">
        <p>Your cart is empty</p>
        <button mat-raised-button (click)="getBack()">Go Back To Shop</button>
      </mat-card>
    </div>
</div>
