
small{
  mat-icon{
    cursor: pointer;
    font-size: 18px;
    color: gray;
    margin-left: 1%;
  }

  font-size: 14px !important;
  
}

.main-route{
  padding-left: 1%;
  color: gray;

  a{
    color: #0d4b73;
    
    &:hover{
      text-decoration: underline;
    }
  }
}