button{
	margin-right: 10px !important;
}

mat-card-content{
	padding-left: -30px !important;
	cursor: pointer;
}

mat-card-actions{
	padding: 0 5% !important;

}

mat-card.mat-card:hover{
    border: 1px solid #d0d0d0;
}

.databox-details{
	padding: 6% 4%;
}

.renew{
	position: absolute;
	right: 10px !important;
	bottom: 15px;
	padding-left: 20px !important;
	padding-right: 20px !important;
}

mat-card-subtitle{
	cursor: pointer;
}

mat-card-title{
	cursor: pointer;
	&:hover{
		text-decoration: underline;
	}
}