<br>
<div class="m-333" fxLayout="row" fxLayoutWrap="wrap"
  [@animate]="{value:'*', params:{ y:'-200px', delay:'400ms' }}">
  <h1 class="mat-h1">
    <mat-icon>widgets</mat-icon>
    Databoxes
  </h1>
</div>
<div class="m-333" fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex="100" fxFlex.gt-xs="33" class="mt-05">
    <button
      mat-raised-button
      class="mat-color-green"
      (click)="createDatabox('Create a New Databox', 'In Minerva, everything happens on a Databox. A Minerva Databox is simply a query to our databases', false)">
      Create Databox
    </button>
  </div>  
  <div fxFlex="100" fxFlex.gt-xs="33">
    <div class="product-search-wrap">
      <form>
        <input type="text" name="searchProduct" placeholder="Search databoxes, datasource or query" class="product-search default-bg full-width">
      </form>
    </div>
  </div>  
</div>

<hr>
<div fxLayout="row" fxLayoutWrap="wrap" >
  <div fxFlex="100" fxFlex.gt-xs="33" *ngFor="let data of databoxes" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
    <mat-card class="p-0">
      <mat-card-header class="m-0 p-1">
      	<mat-card-title class="" (click)="navigateToFolder(data.folder)">{{data.databox_name}}</mat-card-title>
      	<mat-card-subtitle (click)="navigateToDatabox(data.folder, data._id, data.first_create)">{{data.datasource}} | {{data.location}}</mat-card-subtitle>

      	<span fxFlex></span>
      	<button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
      	    <mat-icon class="">more_vert</mat-icon>
      	</button>
      	<mat-menu #userMenu="matMenu">
      	    <button mat-menu-item routerLink="/databoxes/settings/{{data._id}}">Edit Query</button>
            <button mat-menu-item routerLink="/databoxes/settings/connect/{{data?._id}}">Connect Your Data</button>
      	</mat-menu>
      </mat-card-header>

      <mat-divider></mat-divider>

      <mat-card-content (click)="navigateToDatabox(data.folder, data._id, data.first_create)" class="p-1">
        <div>
            <div class="mt-1">
              <p>{{data?.query}}</p>
            </div>
            <br>
            <br>
        </div>
        <div class="gallery-icons text-center">
          <button mat-icon-button><i class="fa fa-facebook mat-color-primary"></i></button>
          <button mat-icon-button><i class="fa fa-twitter mat-color-primary"></i></button>
          <button mat-icon-button><i class="fa fa-globe mat-color-primary"></i></button>
          <button mat-icon-button><i><img src="/assets/images/tableau.png"></i></button>
          <button mat-icon-button><i><img src="/assets/images/power_bi.png"></i></button>
          <button mat-icon-button><i class="fa fa-cut text-muted"></i></button>
          <button mat-icon-button><i class="fa fa-plus text-muted"></i></button>
        </div>
      </mat-card-content>

      <mat-divider></mat-divider>
      <br>
      <mat-card-actions class="m-0 p-05">
      	<h3 class="mat-h4">Status:
          <span [ngClass]="
              data.status === 'Active' ? 'databox-active' :
              data.status === 'Paused' ? 'databox-paused':
              data.status === 'Draft'? 'databox-draft' :
              ''"> {{data.status}}
          </span>
        </h3>
        <span fxFlex></span>
        <mat-slide-toggle color="primary" class="mb-1" [checked]="checked" *ngIf="data.status!='Draft'" (click)="openDialog('Pause Your Databox', 'Are you sure you want to pause your databox. Data will stop comming into your Databox, and mentions will stop being deducted from your plan.', false)">
        On/Off
        </mat-slide-toggle>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<br>
<br>


