button{
	margin-right: 10px !important;
}

mat-card-header{
	padding-bottom: 0px !important;
	cursor: pointer;
}
mat-card-title{
	font-weight: 500;
	font-size: 18px;
	color: #fb8a01;
}

mat-card-content{
	cursor: pointer;
	margin: 0 8px;
	color: rgba(0, 0, 0, .54);
}
mat-card-actions{
	margin: 0 8px !important;
}

.renew{
	position: absolute;
	right: 10px !important;
	bottom: 15px;
	padding-left: 20px !important;
	padding-right: 20px !important;
}

mat-card-subtitle{
	cursor: pointer;
}


.gallery-icons{
	ul,li,strong{
		font-size: 12px;
	}
}

.no-databoxes {
	width: 100%;
	div {
		height: calc(100vh - 240px);
	}
}

.product-search-wrap .product-search {
	font-family: "Roboto", Helvetica Neue,sans-serif;
}


.equal {
  display: flex !important;

}

.min-ht{
	min-height: 80px !important;
}

.welcome-image{
	margin-top: 15px;
	img{
		margin: auto;
	}
}

.notification-important{
	background: red;
	border: 2px solid gray;
}