<br>
<div class="m-333" fxLayout="row" fxLayoutWrap="wrap"
  [@animate]="{value:'*', params:{ y:'-200px', delay:'400ms' }}">
  <h1 class="mat-h1">
    <!-- <mat-icon>widgets</mat-icon> -->
    Databoxes
  </h1>
</div>
<div class="m-333" fxLayout="row" fxLayoutWrap="wrap">
  <button
    mat-raised-button
    class="mb-05 mat-color-green"
    (click)="createDatabox('Create a New Databox', 'In Minerva, everything happens on a Databox. A Minerva Databox is simply a query to our databases', false)">
    Create Databox
  </button>
  <br>
</div>

<hr>
<div fxLayout="row" fxLayoutWrap="wrap" >
  <div fxFlex="100" fxFlex.gt-xs="33" *ngFor="let data of databoxes" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
    <mat-card>
      <mat-card-header>
      	<mat-card-title class="mat-color-primary" (click)="navigateToFolder(data.folder)">{{data.databox_name}}</mat-card-title>
      	<mat-card-subtitle (click)="navigateToDatabox(data.folder, data._id, data.first_create)">{{data.datasource}} | {{data.location}}</mat-card-subtitle>

      	<span fxFlex></span>
      	<button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
      	    <mat-icon class="">more_vert</mat-icon>
      	</button>
      	<mat-menu #userMenu="matMenu">
      	    <button mat-menu-item routerLink="/databoxes/settings/{{data._id}}">Edit Query</button>
            <button mat-menu-item routerLink="/databoxes/settings/connect/{{data?._id}}">Connect Your Data</button>
      	</mat-menu>
      </mat-card-header>

      <mat-divider></mat-divider>

      <mat-card-content (click)="navigateToDatabox(data.folder, data._id, data.first_create)">
        <div class="databox-details">
            Mentions: <b>{{data?.mentions}}</b>
            <br>
            Mentions per day: <b>{{data?.mentions_per_day}}</b>
            <br>
            <br>
            <br>
            <br>
        </div>
      </mat-card-content>

      <mat-divider></mat-divider>
      <br>
      <mat-card-actions>
      	<h3 class="mat-h4">Status:
          <span [ngClass]="
              data.status === 'Active' ? 'databox-active' :
              data.status === 'Paused' ? 'databox-paused':
              data.status === 'Draft'? 'databox-draft' :
              ''"> {{data.status}}
          </span>
        </h3>
      	<span fxFlex></span>
        <mat-slide-toggle color="primary" class="mb-1" [checked]="checked" *ngIf="data.status!='Draft'" (click)="openDialog('Renew Databox', 'Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.', false)">
        On/Off
        </mat-slide-toggle>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<br><br>


