<br>
<div class="m-333" fxLayout="row" fxLayoutWrap="wrap">
  <div fxLayout="column"
    fxFlex="100"
    fxFlex.gt-md="100"
    [@animate]="{value:'*', params:{ y:'-200px', delay:'400ms' }}">
      <h1 class="mat-h1"  [hidden]="!folder"> <mat-icon>widgets</mat-icon> {{folder}}
        <small>
          <mat-icon (click)="openDialog('Edit Folder', 'Folder Name', true, folder)">edit</mat-icon>
          <mat-icon
            (click)="openDialog('Delete Folder', 'Are you sure you want to delete this folder and all Databoxes?', false, folder)">delete
          </mat-icon> |
          <span class="main-route">
          <a routerLink="/databoxes/">Databoxes </a> /
          {{folder}}</span>
        </small>
      </h1>
  </div>
</div>
<div class="m-333" fxLayout="row" fxLayoutWrap="wrap">
  <button
    mat-raised-button
    class="mb-05"
    color="primary"
    (click)="createDatabox('Create a New Databox', 'In Minerva, everything happens on a Databox. A Minerva Databox is simply a query to our databases', false)">
    Create Databox
  </button>
  <br>
</div>

<hr>
<div fxLayout="row" fxLayoutWrap="wrap" *ngIf="databoxes">
  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="33.2" *ngFor="let data of databoxes" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="mat-color-primary">{{data.databox_name}}</mat-card-title>
        <mat-card-subtitle (click)="navigateToDatabox(data.folder, data._id, data.first_create)">{{data.datasource}} | {{data.location}}</mat-card-subtitle>

        <span fxFlex></span>
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
            <mat-icon class="">more_vert</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item routerLink="/databoxes/settings/{{data._id}}">Settings</button>
            <button mat-menu-item routerLink="/databoxes/settings/{{data._id}}">Remove From Folder</button>
        </mat-menu>
      </mat-card-header>

      <mat-divider></mat-divider>

      <mat-card-content (click)="navigateToDatabox(data.folder, data._id, data.first_create)">
        <div class="databox-details">
            Last Updated: {{data.last_updated | date: 'EEEE, MMMM d, y'}}<br>
            Mentions: <b>{{data?.mentions}}</b>
              <br>
            <br>
            {{data.keywords}} Keywords<br>
            {{data.category}} Categories<br>
            {{data.sub_category}} Sub Categories<br>
            Historical: {{data.historical}}<br>
            <br>

            Expiry Date:
            <span *ngIf="data.expiry_date !== 'No Configuration'; else showNoConfig">
              <b>{{data.expiry_date  | date: 'EEEE, MMMM d, y'}}</b>
            </span>
            <ng-template #showNoConfig>
              <b>{{data.expiry_date}}</b>
            </ng-template>
            <br>
        </div>
      </mat-card-content>

      <mat-divider></mat-divider>
      <br>
      <mat-card-actions>
        <h3 class="mat-h4">Status:
          <span [ngClass]="
              data.status === 'Ready' ? 'databox-ready' :
              data.status === 'Expired' ? 'databox-expired':
              data.status === 'No Configuration' ? 'databox-noconfig' :
              data.status === 'Refreshing'? 'databox-refreshing' :
              ''"> {{data.status}}
          </span>
        </h3>
        <span fxFlex></span>
        <button mat-button class="renew"
          color="success"
          *ngIf="data.status==='Expired'" (click)="openDialog('Pause Your Databox', 'Are you sure you want to pause your databox. Data will stop comming into your Databox, and mentions will stop being deducted from your plan.', false)">
          Renew
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div *ngIf="databoxes?.length === 0" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
  <div class="empty">
    <h1 class="mat-h1 text-muted">This folder is empty</h1>
    <img src="/assets/images/image-placeholder.png" alt="" class="minerva-logo">
    <h5 class="mat-h4">Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere <br> qualisque, saperet ullamcorper ad eum. lorem ipsum dolor sit amet, <br> veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.</h5>
  </div>
</div>

<br><br>
