button{
	margin-right: 10px !important;
}

mat-card-content{
	padding-left: -30px !important;
	cursor: pointer;
}

mat-card-actions{
	padding: 0 5% !important;

}

.databox-details{
	padding: 6% 8px;
}

.empty{
	text-align: center !important;
	margin-top: 3% !important;
}

.minerva-logo{
	width: 250px;

	margin-top: 2%;
}

h5{
	padding-top: 2%;
}

small{
	mat-icon{
		cursor: pointer;
		font-size: 18px;
		color: gray;
		margin-left: 1%;
	}

	font-size: 14px !important;
	
}

.renew{
	position: absolute;
	right: 10px !important;
	bottom: 15px;
	padding-left: 20px !important;
	padding-right: 20px !important;
}

mat-card-subtitle{
	cursor: pointer;
}

mat-card-title{
	cursor: pointer;
}