<div *ngIf="deleteDataInfo">
  <div class="default-bg" [@animate]="{value:'*', params:{ scale:'0.8', delay:'200ms' }}">
      <div>
          <div>
              <h1 matDialogTitle>Error Deleting Databox</h1>
              
              <div mat-dialog-content>
                  <div>Oops! There has been an error while deleting your databox. Please check your input and try again!</div>
              </div>

              <div mat-dialog-actions>
                  <span fxFlex></span>
                  <button 
                  type="button"
                  mat-raised-button 
                  (click)="close()">Ok</button>
              </div>
          </div>
      </div>
  </div>

</div>

<div class="height-full" *ngIf="!deleteDataInfo" 
  [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
  <h1 matDialogTitle>{{ data.title }}
  <span fxFlex></span>
  <mat-icon class="close" (click)="dialogRef.close(true)" 
  *ngIf="data.title === 'How to connect to Power BI' 
    || data.title === 'How to connect to Tableau' 
    || data.title === 'How to connect to Data Studio'">close</mat-icon></h1>
  <div mat-dialog-content>
      <!-- Input Data -->
      <form *ngIf="data.input; else showText">
        <mat-form-field class="full-width">
          <input matInput 
            placeholder="{{data.data}}" 
            [(ngModel)]="inputData" 
            [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </form>

      <ng-template #showText>
          {{data.data}}
      </ng-template>

      <div *ngIf="data.title === 'Power BI' 
          || data.title === 'Tableau' 
          || data.title === 'Data Studio'">
              <hr> 
              <h3 class="mat-h3 mat-color-primary">See Templates for {{data.title}}</h3>
      </div>

      <!-- For Databox Connectivity Only -->
      <div *ngIf="data.title === 'How to connect to Power BI' 
        || data.title === 'How to connect to Tableau' 
        || data.title === 'How to connect to Data Studio'"
        fxLayout="row" fxLayoutWrap="wrap">
          <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100" fxLayoutAlign="center">
              <div class="text-center">
                  <mat-horizontal-stepper [linear]="true">
                    <mat-step [stepControl]="firstFormGroup">
                      <ng-template [ngIf]="data.title === 'How to connect to Power BI'">
                        <div>Power BI Step 1</div> <br>
                        <p class="text-left">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                      </ng-template>
                      <ng-template [ngIf]="data.title === 'How to connect to Tableau'">
                        <div>Tableau Step 1</div> <br>
                        <p class="text-left">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                      </ng-template>
                      <ng-template [ngIf]="data.title === 'How to connect to Data Studio'">
                        <div>Data Studio Step 1</div> <br>
                        <p class="text-left">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                      </ng-template>
                    </mat-step>

                    <mat-step [stepControl]="secondFormGroup">
                      <ng-template [ngIf]="data.title === 'How to connect to Power BI'">
                        <div>Power BI Step 2</div> <br>
                        <p class="text-left">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                      </ng-template>
                      <ng-template [ngIf]="data.title === 'How to connect to Tableau'">
                        <div>Tableau Step 2</div> <br>
                        <p class="text-left">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                      </ng-template>
                      <ng-template [ngIf]="data.title === 'How to connect to Data Studio'">
                        <div>Data Studio Step 2</div> <br>
                        <p class="text-left">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                      </ng-template>
                    </mat-step>

                    <mat-step>
                      <ng-template matStepLabel>Done</ng-template>
                      <div>
                        <mat-icon class="pt-1" [style.fontSize]="'36px'">check</mat-icon>
                      </div>
                      <div class="pb-1 mb-1"> You Are Done.</div>
                    </mat-step>
                  </mat-horizontal-stepper>


              </div>
          </div>
      </div>
  </div>
  <br>

  <!-- Action Buttons FOR DATABOX CONNECT ONLY -->
  <div mat-dialog-actions 
      *ngIf="data.title === 'How to connect to Power BI'
        || data.title === 'How to connect to Tableau'
        || data.title === 'How to connect to Data Studio'">
    <mat-divider></mat-divider>
    <br>

    <span fxFlex></span>
    <div *ngIf="!data.checked">
      <button (click)="dialogRef.close(false)" 
      mat-raised-button class="m-333">Cancel</button>

      <button mat-raised-button class="m-333" color="primary" 
      (click)="updateConnector(true)">Connect Automatically</button>

      <button mat-raised-button class="m-333" color="primary" 
      (click)="updateConnector()">Connect to Unprocess Data</button>
    </div>

    <div *ngIf="data.checked">
      <button (click)="dialogRef.close(false)" 
      mat-raised-button class="m-333">Cancel</button>

      <button mat-raised-button class="m-333" color="primary" 
      (click)="updateConnector()">Connect Data</button>
    </div>
  </div>

  <!-- Action Buttons -->
  <div mat-dialog-actions 
      *ngIf="data.title !== 'How to connect to Power BI'
        && data.title !== 'How to connect to Tableau'
        && data.title !== 'How to connect to Data Studio'">
      <span fxFlex></span>

      <div *ngIf="data.title !== 'Power BI' 
          && data.title !== 'Tableau' 
          && data.title !== 'Data Studio'">
              <button *ngIf="data.title !== 'Create Databox' 
              && data.title !== 'Delete Databox' 
              && data.title !== 'Save as Draft'
              && data.title !== 'Save Changes'
              && data.title !== 'Exit without saving changes?'
              && data.title !== 'Set Databox Name'
              && data.title !== 'Edit Databox Name'
              && data.title !== 'Run Query'
              && data.title !== 'Create a New Databox'
              && data.title !== 'Test Query'
              && data.title !== 'How to connect to Power BI'
              && data.title !== 'How to connect to Tableau'
              && data.title !== 'How to connect to Data Studio'"
              type="button" 
              mat-raised-button
              color="primary" 
              (click)="dialogRef.close(true)">{{data.title}}</button>

              <!-- Save as Draft without update -->
              <button *ngIf="data.title === 'Save as Draft' && !data.update"
              type="button" 
              mat-raised-button
              color="primary" 
              (click)="saveAsDraft()">{{data.title}}</button>

              <!-- Save as Draft with update -->
              <button *ngIf="data.title === 'Save as Draft' && data.update"
              type="button" 
              mat-raised-button
              color="primary" 
              (click)="updateDatabox()">{{data.title}}</button>

              <!-- Save Databox Changes if Status is Draft -->
              <button *ngIf="data.title === 'Save Changes' && data.update"
              type="button" 
              mat-raised-button
              color="primary" 
              (click)="updateDatabox()">{{data.title}}</button>

              <!-- Run Query and Save the Details -->
              <button *ngIf="data.title === 'Run Query' && data.update"
              type="button" 
              mat-raised-button
              color="primary" 
              (click)="updateDatabox()">{{data.title}}</button>

              <!-- TEST Query and Save the Details -->
              <button *ngIf="data.title === 'Test Query' && data.update"
              type="button" 
              mat-raised-button
              class="mat-bg-success" 
              (click)="testQuery()">{{data.title}}</button>

              <!-- Create databox -->
              <button *ngIf="data.title === 'Create a New Databox'"
              type="button" 
              mat-raised-button
              color="primary" 
              (click)="createDataboxInit()">{{data.title}}</button>

              <!-- Edit Databox -->
              <button *ngIf="data.title === 'Set Databox Name'"
              type="button"
              mat-raised-button
              color="primary"
              (click)="editDataboxNotCreated()">{{data.title}}
              </button>

              <!-- Edit Databox -->
              <button *ngIf="data.title === 'Edit Databox Name'"
              type="button"
              mat-raised-button
              color="primary"
              (click)="editDataboxCreated()">{{data.title}}
              </button>

              <!-- Delete databox -->
              <button *ngIf="data.title === 'Delete Databox' && !data.update"
              type="button" 
              mat-raised-button
              color="warn" 
              (click)="deleteDatabox()">{{data.title}}</button>

              <!-- Cancel Changes -->
              <button *ngIf="data.title === 'Exit without saving changes?'"
              type="button"
              mat-raised-button
              color="warn"
              (click)="cancelChanges()">{{data.title}}
              </button>
      </div>&nbsp;&nbsp;
      
      <button (click)="dialogRef.close(false)" 
      type="button" mat-raised-button>Cancel</button>
  </div>
</div>
