<mat-card class="p-0 fixed-height">
  <mat-card-title class="light-gray">
    <div class="card-title-text">Account Type</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <div class="">
      <h1 class="mat-h1 fw-400">{{loggedInUser.accountType}}</h1>
      <p *ngIf="loggedInUser.accountType !== 'Enterprise'">
      <a class="text-muted mat-color-primary" 
      routerLink="/products/account-type">Upgrade your plan</a></p>
    </div>
  </mat-card-content>
</mat-card>