<br>
<div class="m-333" fxLayout="row" fxLayoutWrap="wrap">
  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100">
    <h1 class="mat-h1">
      Account
      <small class="fw-400">   Account / Notifications </small>
    </h1>
  </div>
</div>
<hr>
<!-- Plan and Credit -->
<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="33.2">
    <mat-card class="p-0 fixed-height">
      <mat-card-title class="">
        <div class="card-title-text mt-05">Account Type</div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content>
        <div class="pb-1">
          <h1 class="mat-h1 fw-400">{{loggedInUser.accountType}}</h1>
          <p><a class="text-muted mat-color-primary">Upgrade your plan</a></p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="33.2">
    <mat-card class="p-0 fixed-height">
      <mat-card-title class="">
        <div class="card-title-text">Mentions Plan</div>
        <span fxFlex></span>
        <div class="card-title-text"><button mat-raised-button routerLink="/products/mentions-credit">Add Mentions</button></div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content>
        <div class="pb-1">
          <h6>Mentions Remaining</h6>
          <p class="text-muted">3000 mentions remaining</p>
          <app-mentions-progress-bar></app-mentions-progress-bar>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="33.2">
    <mat-card class="p-0 fixed-height">
      <mat-card-title class="">
        <div class="card-title-text">Algorithm Credit</div>
        <span fxFlex></span>
        <div class="card-title-text"><button mat-raised-button routerLink="/products/algorithm-credit">Add Credit</button></div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content>
        <div>
          <h6>Algorithm Credit Remaining</h6>
          <p class="text-muted">$100 in credit remaining</p>
          <mat-progress-bar
          [mode]="'determinate'"
          [value]="60">
          </mat-progress-bar>
        </div>
      </mat-card-content>
    </mat-card>
  </div>  
</div>  
<!-- Account Settings -->
<div fxLayout="row" fxLayoutWrap="wrap">
	<div fxLayout="column" fxFlex="100" fxFlex.gt-md="20">
		<mat-card class="profile-sidebar mb-1 pb-0">
      <div class="text-center app-user">
        <div class="app-user-photo" (click)="changeImageDialog('Change Image')">
          <img src="{{userImage}}" alt="User image">
        </div><br>
        <h1 class="mat-h3">CCK</h1>
      </div>
      <mat-divider></mat-divider>
      <br>
      <div class="profile-nav">
        <mat-nav-list>
          <mat-list-item routerLink="/accounts/minerva-notifications" routerLinkActive="list-item-active">
            <mat-icon>home</mat-icon>
            Notifications
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item routerLink="/accounts/settings" routerLinkActive="list-item-active">
            <mat-icon>settings</mat-icon>
            Settings
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item routerLink="/accounts/users" routerLinkActive="list-item-active">
            <mat-icon>group</mat-icon>
            Users
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item routerLink="/accounts/billings" routerLinkActive="list-item-active">
            <mat-icon>monetization_on</mat-icon>
            Billing
          </mat-list-item>
        </mat-nav-list>
      </div>
		</mat-card>
	</div>

	<div fxLayout="column" fxFlex="100" fxFlex.gt-md="80" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">

		<mat-card>
			<mat-card-content>
				<div>
					<h1 class="mat-h2">Notifications Timeline</h1>
				</div>
				<br>
				<div class="timeline">
					<div class="timeline-item">
						<div class="timeline-badge">
							<mat-icon class="timeline-icon">library_books</mat-icon>
						</div>
						<div class="timeline-body">
							<div class="timeline-body-top" fxLayout="row">
								<a href="#" class="timeline-body-title mr-1"><b>New User Request</b></a>
								<span fxFlex></span>12 July, 2018

							</div>
							<div class="timeline-body-content text-muted">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem necessitatibus natus fugit porro at sunt mollitia repellendus deserunt, libero similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem necessitatibus natus fugit porro at sunt mollitia repellendus deserunt, libero similique.</p>
							</div>
						</div>
					</div>

					<div class="timeline-item">
						<div class="timeline-badge">
							<mat-icon class="timeline-icon">warning</mat-icon>
						</div>
						<div class="timeline-body">
							<div class="timeline-body-top" fxLayout="row">
								<a href="#" class="timeline-body-title mr-1"><b>New User Request</b></a>
								<span fxFlex></span>12 July, 2018

							</div>
							<div class="timeline-body-content text-muted">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem necessitatibus natus fugit porro at sunt mollitia repellendus deserunt, libero similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem necessitatibus natus fugit porro at sunt mollitia repellendus deserunt, libero similique.</p>
							</div>
						</div>
					</div>

					<div class="timeline-item">
						<div class="timeline-badge">
							<mat-icon class="timeline-icon">settings</mat-icon>
						</div>
						<div class="timeline-body">
							<div class="timeline-body-top" fxLayout="row">
								<a href="#" class="timeline-body-title mr-1"><b>New User Request</b></a>
								<span fxFlex></span>12 July, 2018

							</div>
							<div class="timeline-body-content text-muted">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem necessitatibus natus fugit porro at sunt mollitia repellendus deserunt, libero similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem necessitatibus natus fugit porro at sunt mollitia repellendus deserunt, libero similique.</p>
							</div>
						</div>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
</div>
