<br>
<div class="m-333" fxLayout="row" fxLayoutWrap="wrap" *ngIf="folder">
  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100" [@animate]="{value:'*', params:{ y:'-200px', delay:'400ms' }}">
    <h1 class="mat-h1">
      <mat-icon>widgets</mat-icon> {{data?.databox_name}}
      <small>
        <mat-icon (click)="openDialog('Edit Databox Name', 'Databox Name', true, '')">edit</mat-icon>
        <mat-icon (click)="openDialog('Delete Databox', 'Are you sure you want to delete this databox?', false, '')">delete
        </mat-icon> |
        <span class="main-route">
        <a routerLink="/databoxes/">Databoxes </a> /
        <a routerLink="/databoxes/{{folder}}">{{folder}} </a> /
    	{{data?.databox_name}}</span>
      </small>
    </h1>
  </div>
</div>

<div class="m-333" fxLayout="row" fxLayoutWrap="wrap" #databoxesButtonID>
  <button mat-raised-button
    class="mb-05"
    color="primary"
    [routerLink]="'/databoxes'">
    Back to Databox
  </button>
</div>

<hr>
<br>

<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}" fxLayoutAlign="center">

    <div class="text-center" >
    	<mat-radio-group #configurationID>
    	  <mat-radio-button value="1"
          routerLink="/databoxes/settings/{{data?._id}}">
    	    Configuration
    	  </mat-radio-button>
    	</mat-radio-group>
      -------------
      <mat-radio-group #queryID>
        <mat-radio-button value="2"
          routerLink="/databoxes/settings/query/{{data?._id}}">
          Query
        </mat-radio-button>
      </mat-radio-group>
      -------------
      <mat-radio-group #algorithmID>
        <mat-radio-button value="3"
          routerLink="/databoxes/settings/algorithm/{{data?._id}}">
          Algorithms
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <br>
    <div class="text-center mb-05">
    	<h1 class="mat-h1 text-muted">Welcome to {{data?.databox_name}} Databox</h1>
    	<img src="/assets/images/image-placeholder.png" alt="" class="minerva-logo">
    	<h5 class="mat-h4">Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere <br> qualisque, saperet ullamcorper ad eum. lorem ipsum dolor sit amet, <br> veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.</h5>

      <button mat-raised-button (click)="doTour()">Take a Tour</button>&nbsp;
      <button
        mat-raised-button
        color="primary"
        (click)="navigateToDatabox(folder, data?._id)">
        <span #startDataboxesID>Start</span>
      </button>

    </div>
  </div>
</div>


