<br>
<div class="header-row m-333" fxLayout="row" fxLayoutWrap="wrap" *ngIf="data">
	<div fxLayout="column" fxFlex="100" fxFlex.gt-md="100">
    	<img src="assets/images/icon-databox.png">
		<h1 class="mat-h1">
			{{data?.databox_name}}
			<small>
				<mat-icon (click)="openDialog('Edit Databox Name', 'Databox Name', true)">
				edit</mat-icon>      
				<span class="main-route">
					<a routerLink="/databoxes/">Databoxes </a> / 
					<a (click)="navigateToDatabox(databoxItemData?._id, data?.first_create)">
					{{databoxItemData?.databox_name}} </a> /
				</span> <span> Connect Your Data</span>
			</small>
		</h1>
	</div>
</div>

<div class="m-333" fxLayout="row" fxLayoutWrap="wrap" #databoxesButtonID *ngIf="data">
	<button mat-raised-button 
	class="mb-05" 
	color="primary" 
	(click)="navigateToDatabox(data?._id, data?.first_create)">
	Back to Databox
	</button>&nbsp;
</div>
<hr>
<br>

<!-- Connectors -->
<div fxLayout="row" fxLayoutWrap="wrap" *ngIf="data" 
[@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
	<div fxLayout="column" fxFlex="100" fxFlex.gt-md="100">
		<h1 class="mat-h2 mat-color-primary connector">Connectors</h1>
	</div>

	<div fxLayout="column" fxFlex="100" fxFlex.gt-sm="33.2">
		<mat-card >
			<mat-card-header (click)="openDialog('How to connect to Power BI', 'Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.', false, powerBi, 'powerBi')">
				<mat-card-title class="mat-color-primary">
					<img src="/assets/images/power_bi.png" class="minerva-logo" >
					<span class="title-header">Power BI <br>
						<small class="text-muted">Microsoft</small></span>


				</mat-card-title>
			</mat-card-header>

			<mat-divider></mat-divider>
			<br>
			
			<mat-card-content (click)="openDialog('How to connect to Power BI', 'Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.', false, powerBi, 'powerBi')">
				<p class=" p-333">
				Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
				</p>
			</mat-card-content>
			
		</mat-card>
	</div>

	<div fxLayout="column" fxFlex="100" fxFlex.gt-sm="33.2">
		<mat-card >
			<mat-card-header (click)="openDialog('How to connect to Tableau', 'Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.', false, tableau, 'tableau')">
				<mat-card-title class="mat-color-primary">
					<img src="/assets/images/tableau.png" class="minerva-logo" >
					<span class="title-header">Tableau <br>
						<small class="text-muted">Tableau</small></span>
				</mat-card-title>
			</mat-card-header>

			<mat-divider></mat-divider>
			<br>
			<mat-card-content (click)="openDialog('How to connect to Tableau', 'Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.', false, tableau, 'tableau')">
				<p class="">
				Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
				</p>
			</mat-card-content>
		</mat-card>
	</div>

	<div fxLayout="column" fxFlex="100" fxFlex.gt-sm="33.2">
		<mat-card>
			<mat-card-header (click)="openDialog('How to connect to Data Studio', 'Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.', false, dataStudio, 'dataStudio')">
				<mat-card-title class="mat-color-primary">
					<img src="/assets/images/data_studio.png" class="minerva-logo" >
					<span class="title-header">Data Studio <br>
						<small class="text-muted">Google</small></span>
				</mat-card-title>
			</mat-card-header>

			<mat-divider></mat-divider>
			<br>
			
			<mat-card-content (click)="openDialog('How to connect to Data Studio', 'Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.', false, dataStudio, 'dataStudio')">
				<p class="">
				Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
				</p>
			</mat-card-content>
		</mat-card>
	</div>
</div>

<br><br>

<!-- Notification -->
<div fxLayout="row" fxLayoutWrap="wrap" *ngIf="data && data?.datasource !== 'Twitter'" 
	[@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
	<div fxLayout="column" fxFlex="100" fxFlex.gt-md="100">
		<h1 class="mat-h2 mat-color-primary connector">Notification</h1>
	</div>

	<div fxLayout="column" fxFlex="100" fxFlex.gt-sm="33.2" >
		<mat-card>
			<mat-card-header (click)="openNotificationDialog('Email Notifications', data.datasource)">
				<mat-card-title class="mat-color-primary">
					<img src="/assets/images/email.png" class="minerva-logo" >
					<span class="title-header">Email <br>
						<small class="text-muted">Email</small></span>
				</mat-card-title>
			</mat-card-header>

			<mat-divider></mat-divider>
			<br>
			
			<mat-card-content (click)="openNotificationDialog('Email Notifications', data.datasource)">
				<p class="">
				Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
				</p>
			</mat-card-content>

			<mat-divider></mat-divider>
			<br>
			<div class="text-center">
				<mat-slide-toggle color="primary" class="mb-1" 
				[checked]="email"
                (change)="clickSlideToggle('email')">
				  On / Off
				</mat-slide-toggle>
			</div>
		</mat-card>
	</div>

	<div fxLayout="column" fxFlex="100" fxFlex.gt-sm="33.2">
		<mat-card>
			<mat-card-header>
				<mat-card-title class="mat-color-primary">
					<img src="/assets/images/slack.png" class="minerva-logo" >
					<span class="title-header">Slack <br>
						<small class="text-muted">Slack</small></span>
				</mat-card-title>
			</mat-card-header>

			<mat-divider></mat-divider>
			<br>
			
			<mat-card-content>
				<p class="">
				Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
				</p>
			</mat-card-content>
			<mat-divider></mat-divider>
			<br>
			<div class="text-center">
				<mat-slide-toggle color="primary" class="mb-1" 
				[checked]="slack"
                (change)="clickSlideToggle('slack')">
				  On / Off
				</mat-slide-toggle>
			</div>
		</mat-card>
	</div>

	<div fxLayout="column" fxFlex="100" fxFlex.gt-sm="33.2">
		<mat-card>
			<mat-card-header>
				<mat-card-title class="mat-color-primary">
					<img src="/assets/images/apple_tv.png" class="minerva-logo" >
					<span class="title-header">Apple TV <br>
						<small class="text-muted">Apple</small></span>
				</mat-card-title>
			</mat-card-header>

			<mat-divider></mat-divider>
			<br>
			
			<mat-card-content>
				<p class="">
				Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
				</p>
			</mat-card-content>
			<mat-divider></mat-divider>
			<br>
			<div class="text-center">
				<mat-slide-toggle color="primary" class="mb-1" 
				[checked]="appleTV"
                (change)="clickSlideToggle('appleTV')">
				  On / Off
				</mat-slide-toggle>
			</div>
		</mat-card>
	</div>
</div>

<div fxLayout="row" fxLayoutWrap="wrap" *ngIf="data && data?.datasource === 'Twitter'" 
	[@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}" 
	class="disable-notification">
	<div fxLayout="column" fxFlex="100" fxFlex.gt-md="100">
		<h1 class="mat-h2 connector mat-color-primary">Notification</h1>
	</div>

	<div fxLayout="column" fxFlex="100" fxFlex.gt-sm="33.2" disabled="true">
		<mat-card class="dont-disable" 
		(click)="openNotificationDialog('Email Notifications', data.datasource)">
			<mat-card-header>
				<mat-card-title class="mat-color-primary">
					<img src="/assets/images/email.png" class="minerva-logo">
					<span class="title-header">Email <br>
						<small class="text-muted">Email</small></span>
				</mat-card-title>
			</mat-card-header>

			<mat-divider></mat-divider>
			<br>
			
			<mat-card-content>
				<p class="">
				Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
				</p>
			</mat-card-content>

			<mat-divider></mat-divider>
			<br>
			<div class="text-center">
				<mat-slide-toggle color="primary" class="mb-1" 
				[checked]="email"
				(change)="clickSlideToggle('email')">
				  On / Off
				</mat-slide-toggle>
			</div>
		</mat-card>
	</div>

	<div fxLayout="column" fxFlex="100" fxFlex.gt-sm="33.2">
		<mat-card class="disable">
			<mat-card-header>
				<mat-card-title>
					<img src="/assets/images/slack.png" class="minerva-logo" >
					<span class="title-header">Slack <br>
						<small class="text-muted">Slack</small></span>
				</mat-card-title>
			</mat-card-header>

			<mat-divider></mat-divider>
			<br>
			
			<mat-card-content>
				<p class="">
				Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
				</p>
			</mat-card-content>

			<mat-divider></mat-divider>
			<br>
			<div class="text-center">
				<mat-slide-toggle color="primary" class="mb-1" 
				[disabled]="true">
				  On / Off
				</mat-slide-toggle>
			</div>
		</mat-card>
	</div>

	<div fxLayout="column" fxFlex="100" fxFlex.gt-sm="33.2">
		<mat-card class="disable">
			<mat-card-header>
				<mat-card-title>
					<img src="/assets/images/apple_tv.png" class="minerva-logo" >
					<span class="title-header">Apple TV <br>
						<small class="text-muted">Apple</small></span>
				</mat-card-title>
			</mat-card-header>

			<mat-divider></mat-divider>
			<br>
			
			<mat-card-content>
				<p class="">
				Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
				</p>
			</mat-card-content>

			<mat-divider></mat-divider>
			<br>
			<div class="text-center">
				<mat-slide-toggle color="primary" class="mb-1" 
				[disabled]="true">
				  On / Off
				</mat-slide-toggle>
			</div>
		</mat-card>
	</div>
</div>

<br><br>