button{
	margin-right: 10px !important;
}

mat-card-content{
	padding-left: -30px !important;

}

mat-card-actions{
	padding: 0 5% !important;

}

.databox-details{
	padding: 6% 8px;
}

.minerva-logo{
	width: 250px;

	margin-top: 2%;
}

h5{
	padding-top: 2%;
}

small{
	mat-icon{
		cursor: pointer;
		font-size: 18px;
		color: gray;
		margin-left: 1%;
	}

	font-size: 15px !important;
	
}


.main-route{
	padding-left: 1%;
	color: gray;

	a{
		color: #0d4b73;
		
		&:hover{
			text-decoration: underline;
		}
	}
}

mat-icon{
	cursor: pointer !important;
	font-size: 18px;
}

.mat-elevation-z8{
	margin-left: 1%;
	margin-right: 1%;
}

.bottom-data{
	margin-left: 1%;
	margin-right: 1%;

	h2, h3, form{
		margin-top: 2%;
		margin-left: 5%;
	}

	button{
		margin-left: 5%;
	}
}


.mat-cell{
	padding: 1% 1%;
}

.align-right{
	text-align: right;
	display:block;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 5px;
}


.page-search{
	p{
		margin: 10px 0;
		padding: 0 10px;
	}
}

.table-foot{
	background: white;

	button{
		margin-top: 10px;
		margin-left: 10px;
	}
}

.see-databox-search{
	&:hover{
		text-decoration: underline !important;
	}
}