mat-card.account-type {
  background: none;
  mat-list-item:last-child, td{
    border: none;
  }
  .disabled{
    color: lightgray;
  }
  mat-card{
    box-shadow: none;
  }
}

.full-width {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 2%;
  padding-right: 2%;
}

.choose-version {
    width: 100%;
    margin: 20px auto 0;
    display: block;
}


.btn-add-to-cart {
  display: block;
  margin: auto;
}

.faq{
  margin-top: 4%;

  .faq-header{
    padding-left: 2%;
  }

  .faq-inner{
    padding: 0 5%;
  }
}

.add-cart{
  padding-right: 35px;
}


.mat-bg-gray{
  background: whitesmoke;
}

.choose-version {

  width: 35%;
}
.breadcrumb {
  position: relative;
  width: 100%;
}
.breadcrumb-title {
  display: flex;
  align-items: center;
  padding: .5rem .333rem;
  line-height: 40px;
}

small{
  mat-icon{
    cursor: pointer;
    font-size: 18px;
    color: gray;
    margin-left: 1%;
  }

  font-size: 14px !important;
  
}

.main-route{
  padding-left: 1%;
  color: gray;

  a{
    color: #0d4b73;
    
    &:hover{
      text-decoration: underline;
    }
  }
}

table, .details {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


td, th, .details  {
    border-top: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    font-size: 12px;
}

tr:nth-child(odd) {
    background-color: whitesmoke;
}