<br>
<div class="header-row m-333" fxLayout="row" fxLayoutWrap="wrap">
  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100">
    <img src="assets/images/icon-products.png">
    <h1 class="mat-h1">
        Products
        <small>
          <span class="main-route">
            <a routerLink="/products">Products</a>
          </span> 
          <span>/ Account Type</span> 
        </small>
      </h1>
  </div>
</div>

<mat-card class="account-type p-0 pb-1" 
[@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">

  <div class="p-1">
    <!-- Search Form -->
    <div fxLayout="row" fxLayout.lt-sm="column" class="shop-top-toolbar">
       <div class="product-search-wrap">
          <div>
            Billed Montly 
            <mat-slide-toggle color="primary" class="mb-1" [checked]="billedAnnually" (change)="clickSlideToggle($event)"> 
            Billed Anually</mat-slide-toggle>
          </div>
       </div>
       
      <span fxFlex></span>
        <button mat-raised-button color="primary" routerLink="/products/cart">
          <mat-icon>shopping_cart</mat-icon> Cart ({{cartData.itemCount}})
        </button>
    </div>
   
  </div>

  <mat-card-content>
    <div fxLayout="row" fxLayoutWrap="wrap">
      <!-- Pricing box -->
      <div fxFlex="100" fxFlex.gt-sm="33">
        <mat-card class="plan-pricing text-center green p-0">
          <mat-card-title class="mat-bg-gray pt-1 pr-1 pl-1 m-0">
            <img src="assets/images/box-green.png">
            <div class="pt-1 pb-1">
              <h1 class="mat-h1 mb-0"><strong>$<span>{{standardAccount}} /Mo</span></strong></h1>
              <h2 class="mat-h2 m-0">Basic Account</h2>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content class="p-1">
            <div class="text-sm">
              <h3 class="mat-h3">For new members</h3>
            </div>
            <div class="">
              <mat-list dense class="mb-1">
                <mat-list-item>3,000 mentions</mat-list-item>
                <mat-list-item>Facebook</mat-list-item>
                <mat-list-item class="disabled">Twitter</mat-list-item>
                <mat-list-item class="disabled">Web</mat-list-item>
                <mat-list-item class="disabled">Airbnb</mat-list-item>
                <mat-list-item class="disabled">Waze</mat-list-item>
                <mat-list-item class="disabled">Owned Facebook Page</mat-list-item>
                <mat-list-item class="disabled">Owned Twitter Profile</mat-list-item>
              </mat-list>
            </div>
            <br>
            <table>
              <tbody>
                <tr><td>2 Users</td></tr>
                <tr><td>Email Alerts</td></tr>
                <tr><td>Google Data Studio</td></tr>
                <tr><td class="disabled">Tableau Connector</td></tr>
                <tr><td class="disabled">Power BI Connector</td></tr>
                <tr><td class="disabled">Slack Alerts</td></tr>
                <tr><td class="disabled">Data Export</td></tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
        <button 
        *ngIf="loggedInUser.accountType !== 'Basic'"
        mat-raised-button class="mat-bg-primary btn-add-to-cart mt-1" 
        (click)="addToCart('Basic Account', standardAccount)">
          <mat-icon>shopping_cart</mat-icon> Select Plan
        </button>
        <button mat-raised-button class="current-plan mt-1 btn-add-to-cart" *ngIf="loggedInUser.accountType === 'Basic'">Current Plan</button>
      </div>
      <!-- Pricing box -->
      <div fxFlex="100" fxFlex.gt-sm="33">
        <mat-card class="plan-pricing text-center blue p-0">
          <mat-card-title class="light-mat-gray pt-1 pr-1 pl-1 m-0">
            <img src="assets/images/box-blue.png">
            <div class="pt-1 pb-1">
              <h1 class="mat-h1 mb-0"><strong>$<span>{{plusAccount}} /Mo</span></strong></h1>
              <h2 class="mat-h2 m-0">Professional Account</h2>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content class="p-1">
            <div class="text-sm">
              <h3 class="mat-h3">For new members</h3>
            </div>
            <div class="">
              <mat-list dense class="mb-1">
                <mat-list-item>5,000 mentions</mat-list-item>
                <mat-list-item>Facebook</mat-list-item>
                <mat-list-item>Twitter</mat-list-item>
                <mat-list-item>Web</mat-list-item>
                <mat-list-item>Owned Facebook Page</mat-list-item>
                <mat-list-item>Owned Twitter Profile</mat-list-item>
                <mat-list-item class="disabled">Airbnb</mat-list-item>
                <mat-list-item class="disabled">Waze</mat-list-item>
              </mat-list>
            </div>
            <br>
            <table>
              <tbody>
                <tr><td>5 Users</td></tr>
                <tr><td>Email Alerts</td></tr>
                <tr><td>Google Data Studio</td></tr>
                <tr><td>Tableau Connector</td></tr>
                <tr><td>Power BI Connector</td></tr>
                <tr><td>Slack Alerts</td></tr>
                <tr><td>Data Export</td></tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
        <button 
        *ngIf="loggedInUser.accountType !== 'Professional'"
        mat-raised-button class="mat-bg-primary btn-add-to-cart mt-1" 
        (click)="addToCart('Professional Account', plusAccount)">
          <mat-icon>shopping_cart</mat-icon> Select Plan
        </button>
        <button mat-raised-button class="current-plan mt-1 btn-add-to-cart" *ngIf="loggedInUser.accountType === 'Professional'">Current Plan</button>
      </div>
      <!-- Pricing box -->
      <div fxFlex="100" fxFlex.gt-sm="33">
        <mat-card class="plan-pricing text-center orange p-0">
          <mat-card-title class="light-mat-gray pt-1 pr-1 pl-1 m-0">
            <img src="assets/images/box-orange.png">
            <div class="pt-1 pb-1">
              <h1 class="mat-h1 mb-0"><strong>$<span>{{enterpriseAccount}} /Mo</span></strong></h1>
              <h2 class="mat-h2 m-0">Enterprise Account</h2>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content class="p-1">
            <div class="text-sm">
              <h3 class="mat-h3">For new members</h3>
            </div>
            <div class="">
              <mat-list dense class="mb-1">
                <mat-list-item>Unlimited mentions</mat-list-item>
                <mat-list-item>Facebook</mat-list-item>
                <mat-list-item>Twitter</mat-list-item>
                <mat-list-item>Web</mat-list-item>
                <mat-list-item>Owned Facebook Page</mat-list-item>
                <mat-list-item>Owned Twitter Profile</mat-list-item>
                <mat-list-item>Airbnb</mat-list-item>
                <mat-list-item>Waze</mat-list-item>
              </mat-list>
            </div>
            <br>
            <table>
              <tbody>
                <tr><td>Unlimited Users</td></tr>
                <tr><td>Email Alerts</td></tr>
                <tr><td>Google Data Studio</td></tr>
                <tr><td>Tableau Connector</td></tr>
                <tr><td>Power BI Connector</td></tr>
                <tr><td>Slack Alerts</td></tr>
                <tr><td>Data Export</td></tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
        <button mat-raised-button 
        *ngIf="loggedInUser.accountType !== 'Enterprise'"
        class="mat-bg-primary btn-add-to-cart mt-1" 
        (click)="addToCart('Enterprise Account', enterpriseAccount)">
          <mat-icon>shopping_cart</mat-icon> Select Plan
        </button>
        <button mat-raised-button class="current-plan mt-1 btn-add-to-cart" *ngIf="loggedInUser.accountType === 'Enterprise'">Current Plan</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- Consulting -->
<mat-card>
  <div fxLayout="row" fxLayoutWrap="wrap" class="faq"
    [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">

    <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100">
      <h1 class="mat-h1 faq-header">Consulting</h1>
    </div>

    <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
      <div class="faq-inner">
        <h2 class="mat-h3">Add consulting to your package</h2>
        <p>
          Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
        </p>
      </div>
    </div>

    <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
      <div class="faq-inner">
        <h2 class="mat-h3">Pay by hour</h2>
        <p>
          Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque.
        </p>
        <mat-form-field>
         <mat-select [formControl]="filterForm.controls['algoCredit']">
            <mat-option value="50" style="font-size: 14px !important;">1 Hour</mat-option>
            <mat-option value="100" style="font-size: 14px !important;">2 Hours</mat-option>
            <mat-option value="150" style="font-size: 14px !important;">3 Hours</mat-option>
            <mat-option value="250" style="font-size: 14px !important;">4 Hours</mat-option>
         </mat-select>
        </mat-form-field>
        <button mat-raised-button class="mat-primary btn-add-to-cart ml-1" (click)="addCreditToCart()" style="display: inline;">
          <mat-icon>shopping_cart</mat-icon>
             Add to cart
        </button>
      </div>
    </div>
  </div> 
</mat-card> 

<!-- FAQ's -->
<div fxLayout="row" fxLayoutWrap="wrap" class="faq"
  [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">

  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100">
    <h1 class="mat-h1 faq-header">Frequently Asked Questions</h1>
  </div>

  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
    <div class="faq-inner">
      <h2 class="mat-h3">Question 1</h2>
      <p>
        Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
      </p>
    </div>
  </div>

  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
    <div class="faq-inner">
      <h2 class="mat-h3">Question 1</h2>
      <p>
        Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
      </p>
    </div>
  </div>

  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
    <div class="faq-inner">
      <h2 class="mat-h3">Question 1</h2>
      <p>
        Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
      </p>
    </div>
  </div>

  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
    <div class="faq-inner">
      <h2 class="mat-h3">Question 1</h2>
      <p>
        Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum. Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
      </p>
    </div>
  </div>

</div><br><br>
