<br>
<div class="m-333" fxLayout="row" fxLayoutWrap="wrap">
  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="100">
    <h1 class="mat-h1">
      Account
      <small class="fw-400">      Account / Billing </small>
    </h1>
  </div>
</div>
<hr>
<!-- Plan and Credit -->
<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="33.2">
    <!-- USER ACCOUNT TYPE -->
    <app-account-type></app-account-type>
  </div>
 <div fxLayout="column" fxFlex="100" fxFlex.gt-md="33.2">
   <!-- USER MENTIONS REMAINING -->
   <app-account-mention-remaining></app-account-mention-remaining>

 </div>

 <div fxLayout="column" fxFlex="100" fxFlex.gt-md="33.2">
   <!-- USER ALGORITHM CREDITS REMAINING -->
   <app-account-algorithm-credit-remaining></app-account-algorithm-credit-remaining>
 </div>  
</div>  
<!-- Account Settings -->
<div fxLayout="row" fxLayoutWrap="wrap">
	<div fxLayout="column" fxFlex="100" fxFlex.gt-md="20">

		<mat-card class="profile-sidebar mb-1 pb-0">
      <div class="text-center app-user">
        <div class="app-user-photo" (click)="changeImageDialog('Change Image')">
          <img src="{{userImage}}" alt="">
        </div><br>
        <h1 class="mat-h3">CCK</h1>
      </div>
      <mat-divider></mat-divider>
      <br>
      <div class="profile-nav">
        <mat-nav-list>
          <mat-list-item routerLink="/accounts/minerva-notifications" routerLinkActive="list-item-active">
            <mat-icon>home</mat-icon>
            Minerva News
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item routerLink="/accounts/settings" routerLinkActive="list-item-active">
            <mat-icon>settings</mat-icon>
            Settings
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item routerLink="/accounts/users" routerLinkActive="list-item-active">
            <mat-icon>group</mat-icon>
            Users
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item routerLink="/accounts/billings" routerLinkActive="list-item-active">
            <mat-icon>monetization_on</mat-icon>
            Billing
          </mat-list-item>
        </mat-nav-list>
      </div>
		</mat-card>
	</div>
	<!-- Users -->
	<div class="users" fxLayout="column" fxFlex="100" fxFlex.gt-md="80" [@animate]="{value:'*', params:{ y:'200px', delay:'400ms' }}">
		<div fxLayout="row" fxLayoutWrap="wrap">
			<div fxLayout="column" fxFlex="100" fxFlex.gt-md="33.2" *ngFor="let user of data">
				<mat-card>
					<mat-card-header>

					  	<mat-card-title class="mat-color-primary">
					  		<img class="user-image" src="{{user.profile_image}}" alt=""
					  		 *ngIf="user.status !== 'Pending'">

					  		<img class="user-image" src="/assets/images/user-placeholder.png" 
					  		*ngIf="user.status === 'Pending'">
					  		<h4 class="mat-h4 mt-1 ml-1">{{user.name}}</h4>

					  	</mat-card-title>

					  	<span fxFlex></span>
					  	<button mat-icon-button [matMenuTriggerFor]="userMenu">
					      	<mat-icon class="">more_vert</mat-icon>
					  	</button>
					  	<mat-menu #userMenu="matMenu">
					      	<button mat-menu-item (click)="openDialog('Edit User', user)">
					      	Edit User</button>
					      	<button mat-menu-item (click)="openDialog('Delete User', user, true)">Delete User</button>
					  	</mat-menu>
					</mat-card-header>

					<mat-divider></mat-divider>
					<br>
					<mat-card-content>
						<p class="user-details">
							<mat-icon>account_circle</mat-icon> {{user.user_type}}
						</p><br>
						<p class="user-details">
							<mat-icon>email</mat-icon> {{user.email}}
						</p><br>
						<p class="mat-h3 user-details">
							<mat-icon>calendar_today</mat-icon> Member since: 
							<span *ngIf="user.status !== 'Pending'"> 
							{{ setDate(user.date_created) | date: 'MMM dd, yyyy'}}</span>

							<span *ngIf="user.status === 'Pending'"> Pending</span>
						</p><br>
					</mat-card-content>
				</mat-card>
			</div>	
		</div>
		<div class="m-333" fxLayout="row" fxLayoutWrap="wrap">
			<button
			class="mb-05"
			color="primary"
			mat-raised-button
			*ngIf="userPlanDetails.account_type !== 'Enterprise'"
			[disabled]="data.length === userPlanDetails.max_created_users"
			(click)="openDialog('Add New User')"> Add User
			</button>
			<button
			class="mb-05"
			color="primary"
			mat-raised-button
			*ngIf="userPlanDetails.account_type === 'Enterprise'"
			(click)="openDialog('Add New User')"> Add User
			</button>

			<p *ngIf="userPlanDetails.account_type !== 'Enterprise'">{{data.length}} / {{userPlanDetails.max_created_users}} users remaining</p>

			<p *ngIf="userPlanDetails.account_type === 'Enterprise'">{{data.length}} / 
				<span class="mat-color-primary">Unlimited Users </span>
			</p>
		</div>
	</div>
</div>
