.mat-card-image{
	cursor: pointer;
}

.gallery-icons{
	display: inline-flex !important;
	vertical-align: middle !important;
	padding-top: 10px;

	i{
		img{
			padding-top: 10px !important;
			width: 50%;
		}
	}

}

