
<div class="page-wrap" fxLayout="row" fxLayoutWrap="wrap" 
  [@animate]="{value:'*', params:{ y:'200px', delay:'300ms',scale:'.9'}}">
  <div class="container" id="scroll-signin" fxLayoutAlign="center">
    <div fxFlex="100" fxFlex.gt-sm="65" class="box">
      <mat-card>
        <div fxFlex="100" fxFlex.gt-sm="100">
          <mat-card>
            <div class="minerva-logo">
              <mat-card-header>
                <img src="assets/images/logo_minerva.svg" class="mb-05">
              </mat-card-header>
            </div>
            
            <mat-card-content>
              <div class="text-center pb-1">
                <h4 class="text-muted m-0">Welcome {{userFullName}} start with an Account</h4>
                <p class="copyright text-muted">
                  In Minerva, everything happens on an Account. A Minerva Account is simply a group of people using Minerva together – like your company or organization. Is your group already on Minerva, or do you need to start a new Account?
                </p>
              </div>
              <form>
                <button mat-raised-button class="mat-primary full-width mb-1 signin-btn" [routerLink]="'/accounts/email'">Create New Account</button>
                <div class="text-center">
                  
                  <div class="copyright text-muted">
                    <p>©2001-2019 All Rights Reserved. Minerva® is a registered trademark. By clicking this button, you agree to Minerva Anti-spam Policy & Terms of Use. </p>
                  </div>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card>
    </div>
  </div>
</div>
