.choose-version {

	width: 30%;
}
.breadcrumb {
  position: relative;
  width: 100%;
}
.breadcrumb-title {
  display: flex;
  align-items: center;
  padding: .5rem .333rem;
  line-height: 40px;
}

small{
	mat-icon{
		cursor: pointer;
		font-size: 18px;
		color: rgba(0, 0, 0, .54);
		margin-left: 1%;
	}

	font-size: 14px !important;
	
}